{% extends 'base.html.twig' %}

{% block title %}Attributes index{% endblock %}

{% block body %}
    <h1>Attributes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attribute in attributes %}
            <tr>
                <td>{{ attribute.id }}</td>
                <td>{{ attribute.name }}</td>
                <td>{{ attribute.value }}</td>
                <td>
                    <a href="{{ path('attributes_show', {'id': attribute.id}) }}">show</a>
                    <a href="{{ path('attributes_edit', {'id': attribute.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('attributes_new') }}">Create new</a>
{% endblock %}
