{% extends 'base-admin.html.twig' %}

{% block title %}Ludo et Sophie - Index des attributs
{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Ludo et Sophie - Index des attributs</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('admin') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Attributs</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">

			{% for message in app.flashes('success') %}
				<div class="alert alert-success" role="alert">{{ message }}</div>
			{% endfor %}

			{# Barre de recherche #}
			<div class="search_filter"> 
				<form class="search_bar" action="{{ path('attributes_index') }}" method="get">
					<div class="row">
						<input class="col-4 p-2" type="text" name="search" placeholder="Rechercher parmis les noms et les contenus">
						<select class="col-3 p-2" name="attributeGroupFilter" id="attributeGroupFilter">
							<option value="">Rechercher par groupes d'attributs</option>     
							{% for attributeGroup in attributeGroups|sort((a, b) => a.name <=> b.name) %} 
								<option value={{ attributeGroup.id }}>{{ attributeGroup.name }}</option>
							{% endfor %}                         
						</select>
						<button type="submit" class="btn btn-primary" class=" button violetBackground">OK</button>		
						<a class="btn btn-secondary mx-1" href="{{ path('attributes_index') }}" title="Retour à la liste des produits">Reset</a>	
					</div>
				</form>
			</div>
			{# Fin barre de recherche #}

			<a href="{{ path('attributes_new') }}" class="btn btn-success my-5" >Créer nouvel attribut</a>

			<table class="table">
				<thead>
					<tr>
						<th>
							{{ knp_pagination_sortable(attributes, 'Nom', 'name') }}
						</th>
						<th>
							Groupe d'attributs
						</th>
						<th>
							{{ knp_pagination_sortable(attributes, 'Contenu', 'value') }}
						</th>
						<th class="d-none d-md-table-cell">
							{{ knp_pagination_sortable(attributes, 'Nombre de produits associés', 'products.count' ) }}
						</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for attribute in attributes %}
						<tr>
							<td>
								{{ attribute.name }}
							</td>
							<td>
							{{ (attribute.attributeGroup.name is defined)? attribute.attributeGroup.name :'Pas de groupe pour cet attribut' }}
							</td>
							<td>{{ attribute.value }}</td>

							<td class="d-none d-md-table-cell">{{ attribute.products | length }}
								{# {% if attribute.products | length > 0 %}
									<a title="Voir les produits associés à cet attribut" href="{{ path('products_index', {attributeId:attribute.id}) }}" class="btn btn-primary" ><i class="fas fa-glasses"></i></a>
								{% endif %} #}
							</td>
							<td>
								<a href="{{ path('attributes_edit', {'id': attribute.id}) }}" class="btn btn-warning" ><i class="fas fa-edit"></i></a>
								{{ include('attributes/_delete_form.html.twig') }}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">Aucun attribut</td>
						</tr>
					{% endfor %}
				</tbody>
				<div>
					{{ knp_pagination_render(attributes) }}
				</div>
			</table>
			<div>
				{{ knp_pagination_render(attributes) }}
			</div>

			<a href="{{ path('attributes_new') }}" class="btn btn-success my-5" >Créer nouvel attribut</a>


		</div>
	</div>
{% endblock %}
