{% extends 'base-admin.html.twig' %}

{% block title %}Timothy et Timothé - Index des Beta testers
{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Timothy et Timothé - Index des Beta testers</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('admin') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Les Beta testers</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">

			{% for message in app.flashes('success') %}
				<div class="alert alert-success" role="alert">{{ message }}</div>
			{% endfor %}

			{% for message in app.flashes('fail') %}
				<div class="alert alert-warning" role="alert">{{ message }}</div>
			{% endfor %}


			<a href="{{ path('younglings_new') }}" class="btn btn-success my-5" >Créer une nouvelle fiche éclaireur</a>

            <table class="table">
                <thead>
                    <tr>
                        <th>
							{{ knp_pagination_sortable(younglings, 'Nom', 'name') }}
						</th>
                        <th>Photo</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for youngling in younglings %}
                    <tr>
                        <td>{{ youngling.name }}</td>
                        <td>
                            {% if youngling.picture is not empty %}
                            <img src="{{ asset('images/younglings/'~ youngling.picture ) | imagine_filter('miniatures') }}" alt="Photo de {{ youngling.name }}">
                            {% else %}
                            <img src="{{ asset('images/younglings/noone.jpg' ) | imagine_filter('miniatures') }}" alt="Photo de {{ youngling.name }}">
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('younglings_edit', {'id': youngling.id}) }}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                            {{ include('younglings/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucune fiche éclaireur</td>
                    </tr>
                {% endfor %}
                </tbody>
				<div>
					{{ knp_pagination_render(younglings) }}
				</div>
			</table>
			<div>
				{{ knp_pagination_render(younglings) }}
			</div>

	        <a href="{{ path('younglings_new') }}" class="btn btn-success my-5" >Créer une nouvelle fiche éclaireur</a>
        </div>
    </div>
{% endblock %}
