{% extends 'base.html.twig' %}

{% block title %}Ludo et Sophie Accueil{% endblock %}

{% block body %}

	{# Arborescence #}
	<ul>
		<li>
			<a href="{{ path('home') }}" title="Ludo et Sophie : Acceuil">
				<i class="fa fa-home"></i>
			</a>
		</li>
		<li>
			<a href="{{ path('home_all_products') }}" title="Voir toutes les ***REMOVED***">
				<h2>Toutes les ***REMOVED***</h2>
			</a>
		</li>
	</ul>
	{# Fin Arborescence #}

	{# Boutons grille/liste #}
	<div class="row">
        <div class="col-lg-12 my-3">
            <div class="pull-right">
                <div class="btn-group">
					<button type="button" class="btn btn-light border" id="list" data-toggle="tooltip" data-placement="top" title="List">
						<i class="fa fa-th-list"></i>
					</button>
					<button type="button" class="btn btn-light border" id="grid" data-toggle="tooltip" data-placement="top" title="Grid">
						<i class="fa fa-th"></i>
					</button>
                </div>
            </div>
        </div>
    </div> 
	{# Fin Boutons grille/liste #}

	{# Boucle sur tous les Produits #}
	{% if products|length > 0 %}
		<section class="border-top">

			<div>
				{{ knp_pagination_render(products) }}
			</div>

			<div id="products" class="row view-group">

			{% for product in products %}

				<article class="item col-xs-3 col-lg-3">
					<div class="thumbnail card">
						<div class="img-event p-3">
							{# Illustration produit #}
							{% if product.images is not empty %}
								<img class="group list-group-image img-fluid w-100" src="{{ asset('images/products/' ~ product.images[0].name )| imagine_filter('miniatures') }}" alt="Immage d'illustration {{ product.title ?? '' }}">      
							{% endif %}    
							{# Fin Illustration produit #}
						</div>

						<div class="caption card-body">
							{# Description produit #}
							<h3 class="group card-title inner list-group-item-heading">
								{{ product.title }}
							</h3>
							<p class="group inner list-group-item-text">
								{{ product.description[:400]|striptags|raw }}{{ (product.description|length > 400)?'...':'' }}
							</p>
							<p>
								{% for keyWords in product.keywords %}
								# <strong>{{ keyWords }}</strong>
								{% endfor %}						
							</p>
							{# Fin Description produit #}  
							<div class="row">
								<div class="col-xs-12 col-md-6">
									<p class="lead">
										{{ product.taxIncludedPrice }}&euro;
									</p>
								</div>
								<div class="col-xs-12 col-md-6">
									{# Liens vers produit #}
									{% if product.weezeevent is not empty %}
										<a class="btn" href="{{ product.weezeevent }}" title="Réserver sur weezevent.com" target="_blank" rel="noopener noreferrer">Réserver sur weezevent.com</a>
									{% endif %}
										<a class="text-decoration-none" title="Aller à la page de {{ product.title }}" href="{{ path('home_product', { slugCategory: '/', slugProduct: product.slug}) }}">En savoir plus...</a>    
									{# Fin Liens vers produit #}
								</div>
							</div>
						</div>
					</div>
				</article>

			{% endfor %}

			</div>

			<div>
				{{ knp_pagination_render(products) }}
			</div>

		</section>


	{% endif %}
	{# Fin boucle sur tous les Produits #}
        
{% endblock %}