{% extends 'base.html.twig' %}

{% set currentUrl = url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% block head %}
{# Facebook #}
<meta property="og:title" content="{{ page.metaTagTitle ?? '' }}">
<meta property="og:description" content="{{ page.metaTagDescription ?? '' }}">
<meta property="og:url" content="{{ currentUrl }}">
<meta property="og:type" content="article">
{# Fin Facebook #}

{# Twitter #}
<meta property="twitter:title" content="{{ page.metaTagTitle ?? '' }}">
<meta property="twitter:description" content="{{ page.metaTagDescription ?? '' }}">
<meta property="twitter:url" content="{{ currentUrl }}">
{# Fin Twitter #}

<meta name="description" content="{{ page.metaTagDescription ?? '' }}">
{% endblock %}

{% block title %}	
	{# {% for metaTagKeyword in page.metaTagKeywords %}
		{{ metaTagKeyword }} -
	{% endfor %} #}
	{{ page.metaTagTitle ?? '' }} -
	Timothy et Timothé
{% endblock %}


{% block body %}

	{# Arborescence #}
	<ol class="breadcrumb bg-white">
		<li class="breadcrumb-item">
			<a class="text-muted" href="{{ path('home') }}" title="Timothy et Timothé : Accueil">
				<i class="fa fa-home"></i>
			</a>
		</li>
		<li class="breadcrumb-item">
			<a class="text-muted text-decoration-none" href="{{ path('home_all_products') }}" title="Voir Tous les produits">
				<p>Tous les produits</p>
			</a>
		</li>
	</ol>
	{# Fin Arborescence #}

	{# Boutons grille/liste #}
	<div class="row d-none d-md-block">
		<div class="pull-right">
			<div class="btn-group">
				<button type="button" class="btn btn-light border" id="list" data-toggle="tooltip" data-placement="top" title="List">
					<i class="fa fa-th-list"></i>
				</button>
				<button type="button" class="btn btn-light border" id="grid" data-toggle="tooltip" data-placement="top" title="Grid">
					<i class="fa fa-th"></i>
				</button>
			</div>
		</div>
    </div> 
	{# Fin Boutons grille/liste #}

	<article>
		<h2 class="blue text-center">{{ page.metaTagTitle ?? '' }}</h2>
		<div class="container">

			<div>
				{{ ( page.content ?? '')|raw }}
			</div>

			{% if page.keywords is defined %}
				<p class="my-5 ml-5">
					{% for keyWords in page.keywords %}
						# <strong>{{ keyWords }}</strong>
					{% endfor %}
				</p>
			{% endif %}
		</div>
	</article>


	{# Boucle sur tous les Produits #}
	{% if products|length > 0 %}
		<section class="border-top">

			<div>
				{{ knp_pagination_render(products) }}
			</div>

			<div id="products" class="row view-group">

			{% for product in products %}

				<article class="item col-md-6 col-lg-3 my-3">
					<div class="thumbnail card">
						<div class="img-event p-3">
							{# Illustration produit #}
							{% if product.images is not empty %}
								<a class="text-decoration-none" title="Aller à la page de {{ product.title }}" href="{{ path('home_product', { slugCategory: 'tous-les-produits' , slugProduct: product.slug}) }}">
									<img class="group list-group-image img-fluid d-block mx-auto" src="{{ asset('images/products/' ~ product.images[0].name )| imagine_filter('miniatures') }}" alt="Immage d'illustration {{ product.title ?? '' }}"> 		
								</a>  
							{% endif %}    
							{# Fin Illustration produit #}
						</div>

						<div class="caption card-body pb-0">
							{# Description produit #}
							<a class="text-decoration-none" title="Aller à la page de {{ product.title }}" href="{{ path('home_product', { slugCategory: 'tous-les-produits', slugProduct: product.slug}) }}">
								<h3 class="card-title inner list-group-item-heading font-weight-bold blue">
									{{ product.title }}
								</h3>
							</a>  
							<p class="list-group-item-text text-secondary">
								{{ product.description|striptags|slice(0, 400)|raw }}{{ (product.description|length > 400)?'...':'' }}
							</p>
							<p>
								{% for keyWords in product.keywords %}
								# <strong>{{ keyWords }}</strong>
								{% endfor %}						
							</p>
							{# Fin Description produit #}  
							<div class="row p-0">
								<div class="col-xs-12 col-md-6">
									<p class="text-secondary">
										{{ product.taxIncludedPrice }}&euro;
									</p>									
								</div>
								<div class="col-xs-12 col-md-6 p-0">
									{# Liens vers produit #}
										<a class="text-decoration-none border-left border-top p-3 font-weight-bold float-right wantToKnowMore blue" title="Aller à la page de {{ product.title }}" href="{{ path('home_product', { slugCategory: 'tous-les-produits', slugProduct: product.slug}) }}">En savoir plus...</a> 
									{# Fin Liens vers produit #}
								</div>
							</div>
						</div>
					</div>
				</article>

			{% endfor %}

			</div>

			<div>
				{{ knp_pagination_render(products) }}
			</div>

		</section>


	{% endif %}
	{# Fin boucle sur tous les Produits #}
        
{% endblock %}