{% extends 'base.html.twig' %}

{% block title %}Ludo et Sophie -
	{{ category.title ?? '' }}
{% endblock %}

{% block body %}

	<ul>
		<li>
			<a href="{{ path('home') }}" title="Ludo et Sophie : Acceuil">
				<i class="fa fa-home"></i>
			</a>
		</li>
		{% for topCategoryTitlesAndSlug in topCategoryTitlesAndSlugs %}
		<li>
			<a href="{{ path('home_category', {slug:topCategoryTitlesAndSlug["categorySlug"]}) }}" title="{{ topCategoryTitlesAndSlug["categoryTitle"] ?? '' }}">
				<h2>{{ topCategoryTitlesAndSlug["categoryTitle"] ?? '' }}</h2>
			</a>
		</li>
		{% endfor %}
		{# <li>
			<a href="{{ path('home_category', {slug:category.slug}) }}" title="{ category.title ?? '' }}">
				<h2>{{ category.title ?? '' }}</h2>
			</a>
		</li> #}
	</ul>

	<article>
		{# <h2>{{ category.title ?? '' }}</h2> #}

		{% if category.images|length > 0 %}
			<div>
				{% for image in category.images %}
					<img class="w-50" src="{{ asset('images/products/' ~ image.name ) }}" alt="Immage d'illustration {{ category.title ?? '' }}">
				{% endfor %}
			</div>
		{% endif %}

		<div>
			{{ ( category.description ?? '')|raw }}
		</div>
	</article>

	{% if products|length > 0 %}
		<section class="border-top">
			{% if subCategoryTitlesAndSlugs|length > 1 %}
				<h2>Affiner votre recherche</h2>
				<ul>
					{% for subCategoryTitleAndSlug in subCategoryTitlesAndSlugs|sort((a, b) => a.categoryTitle <=> b.categoryTitle) %}
					<li>
						<a href="{{ path('home_category', {slug: subCategoryTitleAndSlug.categorySlug }) }}">{{ subCategoryTitleAndSlug.categoryTitle }} ({{ subCategoryTitleAndSlug.nbrOfOccurences }})</a>
					</li>
					{% endfor %}
				</ul>
			{% endif %}

			{% for product in products %}
                <article class="border my-3">
                    <div class="d-flex">
                        <div class="p-3">
                        {% if product.images is not empty %}
                            <img src="{{ asset('images/products/' ~ product.images[0].name )| imagine_filter('miniatures') }}" alt="Immage d'illustration {{ product.title ?? '' }}">      
                        {% endif %}                 
                        </div>
                        <div class="p-3">
                            <h3>{{ product.title }}</h3>
                            <p>{{ product.description[:400]|raw }}{{ (product.description|length > 400)?'...':'' }}</p>
                            <p>{{ product.taxIncludedPrice }}&euro;</p>
                        </div>            
                    </div>
					{% if product.weezeevent is not empty %}
					<p class="border p-3 m-0">
						<a class="btn" href="{{ product.weezeevent }}" title="Réserver sur weezevent.com" target="_blank" rel="noopener noreferrer">Réserver sur weezevent.com</a>
					</p>
					{% endif %}
                    <p class="border-top border-left p-3 m-0">
                        <a class="text-decoration-none" title="Aller à la page de {{ product.title }}" href="{{ path('home_product', { slugCategory: topCategoryTitlesAndSlugs|last.categorySlug, slugProduct: product.slug}) }}">En savoir plus...</a>    
                    </p>
                </article>

			{% endfor %}
		</section>
	{% endif %}


{% endblock %}