{% extends 'base.html.twig' %}

{% block title %}Ludo et Sophie -
	{{ category.title ?? '' }}
{% endblock %}

{% block body %}

	{# Arborescence des filtres catégories #}
	<ul>
		<li>
			<a href="{{ path('home') }}" title="Ludo et Sophie : Acceuil">
				<i class="fa fa-home"></i>
			</a>
		</li>
		{% for topCategoryTitlesAndSlug in topCategoryTitlesAndSlugs %}
		<li>
			<a href="{{ path('home_category', {slug:topCategoryTitlesAndSlug["categorySlug"]}) }}" title="{{ topCategoryTitlesAndSlug["categoryTitle"] ?? '' }}">
				<h2>{{ topCategoryTitlesAndSlug["categoryTitle"] ?? '' }}</h2>
			</a>
		</li>
		{% endfor %}

	</ul>
	{# Fin Arborescence des filtres catégories #}

	{# Présentation catégorie #}
	<article>
		{# <h2>{{ category.title ?? '' }}</h2> #}

		{# Illustration de la catégorie #}
		{% if category.images|length > 0 %}
			<div>
				{% for image in category.images %}
					<img class="w-50" src="{{ asset('images/products/' ~ image.name ) }}" alt="Immage d'illustration {{ category.title ?? '' }}">
				{% endfor %}
			</div>
		{% endif %}
		{# Fin Illustration de la catégorie #}

		{# Description catégorie #}
		<div>
			{{ ( category.description ?? '')|raw }}
		</div>
		{# Fin Description catégorie #}

		{# Mots-clés catégorie #}
		<p>
			{% for keyWords in category.keywords %}
			# <strong>{{ keyWords }}</strong>
			{% endfor %}						
		</p>
		{# Fin Mots-clés catégorie #}
	</article>
	{# Fin Présentation catégorie #}


	{# Produits associés à la catégorie #}
	{% if products|length > 0 %}
		<section class="border-top">

			{# Filtre recherche par catégories #}
			{% if subCategoryTitlesAndSlugs|length > 1 %}
				<h2>Affiner votre recherche</h2>
				<ul>
					{% for subCategoryTitleAndSlug in subCategoryTitlesAndSlugs|sort((a, b) => a.categoryTitle <=> b.categoryTitle) %}
					<li>
						<a href="{{ path('home_category', {slug: subCategoryTitleAndSlug.categorySlug }) }}">{{ subCategoryTitleAndSlug.categoryTitle }} ({{ subCategoryTitleAndSlug.nbrOfOccurences }})</a>
					</li>
					{% endfor %}
				</ul>
			{% endif %}
			{# Fin Filtre recherche par catégories #}

			<div>
				{{ knp_pagination_render(products) }}
			</div>

			{# Boucle sur produits #}
			{% for product in products %}
                <article class="border my-3">

                    <div class="d-flex">
						{# Illustration produit #}
                        <div class="p-3">
                        {% if product.images is not empty %}
                            <img src="{{ asset('images/products/' ~ product.images[0].name )| imagine_filter('miniatures') }}" alt="Immage d'illustration {{ product.title ?? '' }}">      
                        {% endif %}                 
                        </div>
						{# Fin Illustration produit #}

						{# Description produit #}
                        <div class="p-3">
                            <h3>{{ product.title }}</h3>
                            <p>{{ product.description[:400]|striptags|raw }}{{ (product.description|length > 400)?'...':'' }}</p>
							<p>
								{% for keyWords in product.keywords %}
								# <strong>{{ keyWords }}</strong>
								{% endfor %}						
							</p>
                            <p>{{ product.taxIncludedPrice }}&euro;</p>
                        </div>
						{# Fin Description produit #}  

                    </div>

					{# Liens vers produit #}
					{% if product.weezeevent is not empty %}
					<p class="border p-3 m-0">
						<a class="btn" href="{{ product.weezeevent }}" title="Réserver sur weezevent.com" target="_blank" rel="noopener noreferrer">Réserver sur weezevent.com</a>
					</p>
					{% endif %}
                    <p class="border-top border-left p-3 m-0">
                        <a class="text-decoration-none" title="Aller à la page de {{ product.title }}" href="{{ path('home_product', { slugCategory: topCategoryTitlesAndSlugs|last.categorySlug, slugProduct: product.slug}) }}">En savoir plus...</a>    
                    </p>
					{# Fin Liens vers produit #}

					
                </article>

			{% endfor %}
			{# Fin Boucle sur produits #}

			<div>
				{{ knp_pagination_render(products) }}
			</div>

		</section>
	{% endif %}
	{# Fin Produits associés à la catégorie #}


{% endblock %}