{% extends 'base.html.twig' %}

{% block title %}Ludo et Sophie -
	{{ category.title ?? '' }}
{% endblock %}

{% block body %}

	{# Arborescence des filtres catégories #}
	<ul>
		<li>
			<a href="{{ path('home') }}" title="Ludo et Sophie : Acceuil">
				<i class="fa fa-home"></i>
			</a>
		</li>
		{% for topCategoryTitlesAndSlug in topCategoryTitlesAndSlugs %}
		<li>
			<a href="{{ path('home_category', {slug:topCategoryTitlesAndSlug["categorySlug"]}) }}" title="{{ topCategoryTitlesAndSlug["categoryTitle"] ?? '' }}">
				<h2>{{ topCategoryTitlesAndSlug["categoryTitle"] ?? '' }}</h2>
			</a>
		</li>
		{% endfor %}

	</ul>
	{# Fin Arborescence des filtres catégories #}

	{# Boutons grille/liste #}
	<div class="row">
        <div class="col-lg-12 my-3">
            <div class="pull-right">
                <div class="btn-group">
					<button type="button" class="btn btn-light border" id="list" data-toggle="tooltip" data-placement="top" title="List">
						<i class="fa fa-th-list"></i>
					</button>
					<button type="button" class="btn btn-light border" id="grid" data-toggle="tooltip" data-placement="top" title="Grid">
						<i class="fa fa-th"></i>
					</button>
                </div>
            </div>
        </div>
    </div> 
	{# Fin Boutons grille/liste #}

	{# Présentation catégorie #}
	<article>
		{# <h2>{{ category.title ?? '' }}</h2> #}

		{# Illustration de la catégorie #}
		{% if category.images|length > 0 %}
			<div>
				{% for image in category.images %}
					<img class="w-50" src="{{ asset('images/products/' ~ image.name ) }}" alt="Immage d'illustration {{ category.title ?? '' }}">
				{% endfor %}
			</div>
		{% endif %}
		{# Fin Illustration de la catégorie #}

		{# Description catégorie #}
		<div>
			{{ ( category.description ?? '')|raw }}
		</div>
		{# Fin Description catégorie #}

		{# Mots-clés catégorie #}
		<p>
			{% for keyWords in category.keywords %}
			# <strong>{{ keyWords }}</strong>
			{% endfor %}						
		</p>
		{# Fin Mots-clés catégorie #}
	</article>
	{# Fin Présentation catégorie #}


	{# Produits associés à la catégorie #}
	{% if products|length > 0 %}
		<section class="border-top">

			{# Filtre recherche par catégories #}
			{% if subCategoryTitlesAndSlugs|length > 1 %}
				<h2>Affiner votre recherche</h2>
				<ul>
					{% for subCategoryTitleAndSlug in subCategoryTitlesAndSlugs|sort((a, b) => a.categoryTitle <=> b.categoryTitle) %}
					<li>
						<a href="{{ path('home_category', {slug: subCategoryTitleAndSlug.categorySlug }) }}">{{ subCategoryTitleAndSlug.categoryTitle }} ({{ subCategoryTitleAndSlug.nbrOfOccurences }})</a>
					</li>
					{% endfor %}
				</ul>
			{% endif %}
			{# Fin Filtre recherche par catégories #}

			<div>
				{{ knp_pagination_render(products) }}
			</div>

			<div id="products" class="row view-group">

			{# Boucle sur produits #}
			{% for product in products %}
				<article class="item col-xs-3 col-lg-3">
					<div class="thumbnail card">
						<div class="img-event p-3">
							{# Illustration produit #}
							{% if product.images is not empty %}
								<img class="group list-group-image img-fluid w-100" src="{{ asset('images/products/' ~ product.images[0].name )| imagine_filter('miniatures') }}" alt="Immage d'illustration {{ product.title ?? '' }}">      
							{% endif %}    
							{# Fin Illustration produit #}
						</div>

						<div class="caption card-body">
							{# Description produit #}
							<h3 class="group card-title inner list-group-item-heading">
								{{ product.title }}
							</h3>
							<p class="group inner list-group-item-text">
								{{ product.description[:400]|striptags|raw }}{{ (product.description|length > 400)?'...':'' }}
							</p>
							<p>
								{% for keyWords in product.keywords %}
								# <strong>{{ keyWords }}</strong>
								{% endfor %}						
							</p>
							{# Fin Description produit #}  
							<div class="row">
								<div class="col-xs-12 col-md-6">
									<p class="lead">
										{{ product.taxIncludedPrice }}&euro;
									</p>
								</div>
								<div class="col-xs-12 col-md-6">
									{# Liens vers produit #}
									{% if product.weezeevent is not empty %}
										<a class="btn" href="{{ product.weezeevent }}" title="Réserver sur weezevent.com" target="_blank" rel="noopener noreferrer">Réserver sur weezevent.com</a>
									{% endif %}
										<a class="text-decoration-none" title="Aller à la page de {{ product.title }}" href="{{ path('home_product', { slugCategory: topCategoryTitlesAndSlugs|last.categorySlug, slugProduct: product.slug}) }}">En savoir plus...</a>    
									{# Fin Liens vers produit #}
								</div>
							</div>
						</div>
					</div>
				</article>
			{% endfor %}
			{# Fin Boucle sur produits #}

			</div>
			<div>
				{{ knp_pagination_render(products) }}
			</div>

		</section>
	{% endif %}
	{# Fin Produits associés à la catégorie #}


{% endblock %}