{% extends 'base.html.twig' %}

{% block title %}Ludo et Sophie -
	{{ category.title ?? '' }}
{% endblock %}

{% block body %}

	{# Arborescence des filtres catégories #}
	<ol class="breadcrumb bg-white">
		<li class="breadcrumb-item">
			<a class="text-muted" href="{{ path('home') }}" title="Ludo et Sophie : Acceuil">
				<i class="fa fa-home"></i>
			</a>
		</li>
		{% for topCategoryTitlesAndSlug in topCategoryTitlesAndSlugs %}
		<li class="breadcrumb-item" {{ loop.last ? 'aria-current="page"' :'' }}>
			<a class="text-muted text-decoration-none" href="{{ path('home_category', {slug:topCategoryTitlesAndSlug["categorySlug"]}) }}" title="{{ topCategoryTitlesAndSlug["categoryTitle"] ?? '' }}">
				<p>{{ topCategoryTitlesAndSlug["categoryTitle"] ?? '' }}</p>
			</a>
		</li>
		{% endfor %}

	</ol>
	{# Fin Arborescence des filtres catégories #}

	{# Boutons grille/liste #}
	<div class="row d-none d-md-block">
        <div class="col-lg-12 my-3">
            <div class="pull-right">
                <div class="btn-group">
					<button type="button" class="btn btn-light border" id="list" data-toggle="tooltip" data-placement="top" title="List">
						<i class="fa fa-th-list"></i>
					</button>
					<button type="button" class="btn btn-light border" id="grid" data-toggle="tooltip" data-placement="top" title="Grid">
						<i class="fa fa-th"></i>
					</button>
                </div>
            </div>
        </div>
    </div> 
	{# Fin Boutons grille/liste #}

	{# Présentation catégorie #}
	<article>
		<h2 class="font-italic blue">{{ category.title ?? '' }}</h2>

		{# Illustration de la catégorie #}
		{% if category.images|length > 0 %}
			<div>
				{% for image in category.images %}
					<img class="w-100" src="{{ asset('images/products/' ~ image.name ) }}" alt="Immage d'illustration {{ category.title ?? '' }}">
				{% endfor %}
			</div>
		{% endif %}
		{# Fin Illustration de la catégorie #}

		{# Description catégorie #}
		<div class="text-secondary">
			{{ ( category.description ?? '')|raw }}
		</div>
		{# Fin Description catégorie #}

		{# Mots-clés catégorie #}
		<p>
			{% for keyWords in category.keywords %}
			# <strong>{{ keyWords }}</strong>
			{% endfor %}						
		</p>
		{# Fin Mots-clés catégorie #}
	</article>
	{# Fin Présentation catégorie #}


	{# Produits associés à la catégorie #}
	{% if products|length > 0 %}
		<section class="border-top pt-5 mt-5">

			{# Filtre recherche par catégories #}
			{% if subCategoryTitlesAndSlugs|length > 1 %}
				<h3 class="text-dark">Affiner votre recherche</h3>
				<ul>
					{% for subCategoryTitleAndSlug in subCategoryTitlesAndSlugs|sort((a, b) => a.categoryTitle <=> b.categoryTitle) %}
					<li>
						<a class="text-decoration-none red" href="{{ path('home_category', {slug: subCategoryTitleAndSlug.categorySlug }) }}">{{ subCategoryTitleAndSlug.categoryTitle }} ({{ subCategoryTitleAndSlug.nbrOfOccurences }})</a>
					</li>
					{% endfor %}
				</ul>
			{% endif %}
			{# Fin Filtre recherche par catégories #}

			<div>
				{{ knp_pagination_render(products) }}
			</div>

			<div id="products" class="row view-group">

			{# Boucle sur produits #}
			{% for product in products %}
				<article class="item col-xs-3 col-lg-3 my-3">
					<div class="thumbnail card">
						<div class="img-event p-3">
							{# Illustration produit #}
							{% if product.images is not empty %}
								<a class="text-decoration-none" 
									title="Aller à la page de {{ product.title }}" 
									href="{{ path('home_product', { slugCategory: topCategoryTitlesAndSlugs|last.categorySlug, slugProduct: product.slug}) }}">
										<img class="group list-group-image img-fluid w-100" src="{{ asset('images/products/' ~ product.images[0].name )| imagine_filter('miniatures') }}" alt="Immage d'illustration {{ product.title ?? '' }}">     
								</a>  
							{% endif %}    
							{# Fin Illustration produit #}
						</div>

						<div class="caption card-body pb-0">
							{# Description produit #}

							<a class="text-decoration-none" title="Aller à la page de {{ product.title }}" href="{{ path('home_product', { slugCategory: topCategoryTitlesAndSlugs|last.categorySlug, slugProduct: product.slug}) }}">
								<h3 class="blue group card-title inner list-group-item-heading font-weight-bold">
									{{ product.title }}
								</h3>
							</a>  

							<p class="group inner list-group-item-text text-secondary">
								{{ product.description[:400]|striptags|raw }}{{ (product.description|length > 400)?'...':'' }}
							</p>
							<p>
								{% for keyWords in product.keywords %}
								# <strong>{{ keyWords }}</strong>
								{% endfor %}						
							</p>
							{# Fin Description produit #}  
							<div class="row p-0">
								<div class="col-xs-12 col-md-6">
									<p class="text-secondary">
										{{ product.taxIncludedPrice }}&euro;
									</p>									
								</div>

								
								<div class="col-xs-12 col-md-6 p-0">
									{# Liens vers produit #}
										<a class="blue text-decoration-none border-left border-top p-3 font-weight-bold float-right wantToKnowMore" title="Aller à la page de {{ product.title }}" href="{{ path('home_product', { slugCategory: topCategoryTitlesAndSlugs|last.categorySlug, slugProduct: product.slug}) }}">En savoir plus...</a> 
									{# Fin Liens vers produit #}
								</div>
							</div>
						</div>
					</div>
				</article>
			{% endfor %}
			{# Fin Boucle sur produits #}

			</div>
			<div>
				{{ knp_pagination_render(products) }}
			</div>

		</section>
	{% endif %}
	{# Fin Produits associés à la catégorie #}


{% endblock %}