{% extends 'base.html.twig' %}

{% set currentUrl = url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% block head %}
{# Facebook #}
<meta property="og:title" content="{{ page.metaTagTitle ?? '' }}">
<meta property="og:description" content="{{ page.metaTagDescription ?? '' }}">
<meta property="og:url" content="{{ currentUrl }}">
<meta property="og:type" content="article">
{# Fin Facebook #}

{# Twitter #}
<meta property="twitter:title" content="{{ page.metaTagTitle ?? '' }}">
<meta property="twitter:description" content="{{ page.metaTagDescription ?? '' }}">
<meta property="twitter:url" content="{{ currentUrl }}">
{# Fin Twitter #}

<meta name="description" content="{{ page.metaTagDescription ?? '' }}">
{% endblock %}

{% block title %}	
	{# {% for metaTagKeyword in page.metaTagKeywords %}
		{{ metaTagKeyword }} -
	{% endfor %} #}
	{{ page.metaTagTitle ?? '' }} -
	Ludo et Sophie
{% endblock %}

{% block body %}

	<article>
		<h2 class="blue text-center">{{ page.metaTagTitle ?? '' }}</h2>
		<div class="container">

			<div>
				{{ ( page.content ?? '')|raw }}
			</div>

			{% if page.keywords is defined %}
				<p class="my-5 ml-5">
					{% for keyWords in page.keywords %}
						# <strong>{{ keyWords }}</strong>
					{% endfor %}
				</p>
			{% endif %}
		</div>
	</article>

	<section class="accordion my-5" id="accordion">
		{% for faq in faqs %}
			<article class="card">
				<div class="card-header" id="heading{{ faq.id }}">
					<h3 class="mb-0">
						<button class="red font-weight-bold text-decoration-none btn btn-link btn-block text-left {{ loop.first ? '' : 'collapsed' }}" type="button" data-toggle="collapse" data-target="#collapse{{ faq.id }}" aria-expanded="{{ loop.first ? true : false }}" aria-controls="collapse{{ faq.id }}">
							{{ faq.question }}
						</button>
					</h3>
				</div>

				<div id="collapse{{ faq.id }}" class="collapse {{ loop.first ? 'show' : '' }}" aria-labelledby="heading{{ faq.id }}" data-parent="#accordion">
					<p class="card-body">
						{{ faq.answer }}
					</p>
				</div>
			</article>
		{% endfor %}
	</section>

{% endblock %}
