{% extends 'base.html.twig' %}

{% set currentUrl = url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% block head %}
{# Facebook #}
<meta property="og:title" content="{{ page.metaTagTitle ?? '' }}">
<meta property="og:description" content="{{ page.metaTagDescription ?? '' }}">
<meta property="og:url" content="{{ currentUrl }}">
<meta property="og:type" content="website">
{# Fin Facebook #}

{# Twitter #}
<meta property="twitter:title" content="{{ page.metaTagTitle ?? '' }}">
<meta property="twitter:description" content="{{ page.metaTagDescription ?? '' }}">
<meta property="twitter:url" content="{{ currentUrl }}">
{# Fin Twitter #}

<meta name="description" content="{{ page.metaTagDescription ?? '' }}">
{% endblock %}

{% block title %}
	{# {% for metaTagKeyword in page.metaTagKeywords %}
		{{ metaTagKeyword }} -
	{% endfor %} #}
	{{ page.metaTagTitle ?? '' }} -
	Timothy et Timothé
{% endblock %}


{% block body %}
	<article>
		<div class="container">

			<div>
				{{ ( page.content ?? '')|raw }}
			</div>

			<p class="my-5 ml-5">
				{% for keyWords in page.keywords %}
					#
					<strong>{{ keyWords }}</strong>
				{% endfor %}
			</p>
		</div>
	</article>
{% endblock %}

