{% extends 'base.html.twig' %}

{% block head %}
	{% if page.metaTagDescription is defined %}
		<meta name="description" content="{{ page.metaTagDescription }}">
	{% endif %}
{% endblock %}

{% block title %}Ludo et Sophie -
	{{ page.metaTagTitle ?? '' }} -
	{% for metaTagKeyword in page.metaTagKeywords %}
		{{ metaTagKeyword }} -
	{% endfor %}
{% endblock %}


{% block body %}
	<article>
		<div class="container">

			<div>
				{{ ( page.content ?? '')|raw }}
			</div>

			<p class="my-5 ml-5">
				{% for keyWords in page.keywords %}
					#
					<strong>{{ keyWords }}</strong>
				{% endfor %}
			</p>
		</div>
	</article>
{% endblock %}

