{% extends 'base.html.twig' %}

{% set currentUrl = url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% block head %}
{# Facebook #}
<meta property="og:title" content="{{ page.metaTagTitle ?? '' }}">
<meta property="og:description" content="{{ page.metaTagDescription ?? '' }}">
<meta property="og:url" content="{{ currentUrl }}">
<meta property="og:type" content="article">
{# Fin Facebook #}

{# Twitter #}
<meta property="twitter:title" content="{{ page.metaTagTitle ?? '' }}">
<meta property="twitter:description" content="{{ page.metaTagDescription ?? '' }}">
<meta property="twitter:url" content="{{ currentUrl }}">
{# Fin Twitter #}

<meta name="description" content="{{ page.metaTagDescription ?? '' }}">
{% endblock %}

{% block title %}	
	{# {% for metaTagKeyword in page.metaTagKeywords %}
		{{ metaTagKeyword }} -
	{% endfor %} #}
	{{ page.metaTagTitle ?? '' }} -
	Timothy et Timothé
{% endblock %}

{% block body %}

<h2 class="blue text-center">{{ page.metaTagTitle ?? '' }}</h2>

<section class="row">
    {% for person in people %}
        {% if person.isHead == true %}
            <article class="col-lg-6 my-3">
                <div class="row">
                    <div class="col-md-4">
                        {% if person.picture is not empty %}
                            <img class="d-block img-fluid mx-auto my-3" src="{{ asset('images/people/'~ person.picture ) | imagine_filter('miniatures') }}" alt="Photo de {{ person.name }}">
                        {% else %}
                            <img class="d-block img-fluid mx-auto my-3" src="{{ asset('images/people/noone.jpg' ) | imagine_filter('miniatures') }}" alt="Photo de {{ person.name }}">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <h3 class="text-center red">{{ person.name }}</h3>
                        <p>{{ person.description }}</p>
                    </div>
                </div>
                    
                <blockquote class="row blue">
                    <p class="col-10">Citation bien aimée : <span class="font-italic">"{{ person.quote }}"</span></p>
                    <footer class="col-2 mt-4"><cite>{{ person.cite }}</cite></footer>
                </blockquote>
            </article>                    
        
        {% endif %}
    {% endfor %}
</section>

<section class="border-top border-bottom py-5 my-5">
        <div>
            {{ ( page.content ?? '')|raw }}
        </div>

        {% if page.keywords is defined %}
            <p class="my-5 ml-5">
                {% for keyWords in page.keywords %}
                    # <strong>{{ keyWords }}</strong>
                {% endfor %}
            </p>
        {% endif %}
</section>

<section class="row mb-5">
    {% for person in people %}
        {% if person.isHead == false %}
            <article class="col-lg-3 p-4">
                {% if person.picture is not empty %}
                    <img class="d-block img-fluid mx-auto" src="{{ asset('images/people/'~ person.picture ) | imagine_filter('miniatures') }}" alt="Photo de {{ person.name }}">
                {% else %}
                    <img class="d-block img-fluid mx-auto" src="{{ asset('images/people/noone.jpg' ) | imagine_filter('miniatures') }}" alt="Photo de {{ person.name }}">
                {% endif %}
                <h3 class="text-center red">{{ person.name }}</h3>
                <p class="text-center font-italic font-weight-bold text-secondary">{{ person.function }}</p>
                <p class="text-center">{{ person.description }}</p>
            </article>                    
        {% endif %}
    {% endfor %}


    <a class="p-3 m-5 mx-auto text-white text-decoration-none" href="{{ path('home_younglings') }}">Sans oublier tous nos Beta testers que vous pouvez découvrir sur leur page à eux.</a>
</section>

		

        
{% endblock %}
