{% extends 'base.html.twig' %}

{% block title %}Ludo et Sophie - Qui sommes-nous ?
{% endblock %}

{% block body %}

        <h1>Qui sommes-nous ?</h1>

        <section class="row">
            {% for person in people %}
                {% if person.isHead == true %}
                    <article class="col-6">
                        <div class="row">
                            <div class="col-4">
                                {% if person.picture is not empty %}
                                    <img src="{{ asset('images/people/'~ person.picture ) | imagine_filter('miniatures') }}" alt="Photo de {{ person.name }}">
                                {% else %}
                                    <img src="{{ asset('images/people/noone.jpg' ) | imagine_filter('miniatures') }}" alt="Photo de {{ person.name }}">
                                {% endif %}
                            </div>
                            <div class="col-8">
                                <h2>{{ person.name }}</h2>
                                <p>{{ person.description }}</p>
                            </div>
                        </div>
                            
                        <blockquote>
                            <p>Citation bien aimée : <span class="font-italic">"{{ person.quote }}"</span>  </p>
                            <footer><cite>{{ person.cite }}</cite></footer>
                        </blockquote>
                    </article>                    
                
                {% endif %}
            {% endfor %}
        </section>

        <section>
            <p>L'idée en tête, elles mûrissent progressivement le concept avec l'objectif de créer un “doublé d’heureux” : la ludo-culture pour les ***REMOVED***s, le plus simple et rassurant pour leurs parents et lancent l'agence et son club ***REMOVED***s en 2016.  Ludo &amp; Sophie idéalement, ça aurait dû exister quand elles étaient petites, mais on n’en n’est pas si loin... les ***REMOVED***s, c’est une super excuse pour rester jeune ;-)</p>
            <p>Ludo&amp;Sophie ne serait rien sans ses conférenciers, médiateurs scientifiques et animatrices encadrantes.</p>
            <p>Découvrez-les ci-dessous.</p>
        </section>

        <section class="row">
            {% for person in people %}
                {% if person.isHead == false %}
                    <article class="col-3">
                        {% if person.picture is not empty %}
                            <img src="{{ asset('images/people/'~ person.picture ) | imagine_filter('miniatures') }}" alt="Photo de {{ person.name }}">
                        {% else %}
                            <img src="{{ asset('images/people/noone.jpg' ) | imagine_filter('miniatures') }}" alt="Photo de {{ person.name }}">
                        {% endif %}
                        <h2>{{ person.name }}</h2>
                        <p>{{ person.function }}</p>
                        <p>{{ person.description }}</p>
                    </article>                    
                {% endif %}
            {% endfor %}

            <a href="{{ path('home_younglings') }}">Sans oublier tous nos petits éclaireurs que vous pouvez découvrir sur leur page à eux.</a>
        </section>

		

        
{% endblock %}
