{% extends 'base.html.twig' %}

{% set currentUrl = url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% block head %}
{# Facebook #}
<meta property="og:title" content="{{ product.metaTagTitle ?? '' }}">
<meta property="og:description" content="{{ product.metaTagDescription ?? '' }}">
<meta property="og:url" content="{{ currentUrl }}">
<meta property="og:type" content="article">
{# Fin Facebook #}

{# Twitter #}
<meta property="twitter:title" content="{{ product.metaTagTitle ?? '' }}">
<meta property="twitter:description" content="{{ product.metaTagDescription ?? '' }}">
<meta property="twitter:url" content="{{ currentUrl }}">
{# Fin Twitter #}

<meta name="description" content="{{ product.metaTagDescription ?? '' }}">
{% endblock %}


{% block title %}
	{# {% for metaTagKeyword in product.metaTagKeywords %}
		{{ metaTagKeyword }} -
	{% endfor %} #}
	{{ product.metaTagTitle ?? '' }} - Ludo et Sophie
{% endblock %}

{% block body %}

	{# Arborescence de filtrage par catégories #}
	<ol class="breadcrumb bg-white">
		<li class="breadcrumb-item">
			<a class="text-muted" href="{{ path('home') }}" title="Ludo et Sophie : Accueil">
				<i class="fa fa-home"></i>
			</a>
		</li>

		{% if formAllProducts == true %}
			<li class="breadcrumb-item" aria-current="page">
				<a class="text-decoration-none text-muted" href="{{ path('home_all_products') }}" title="Aller à toutes les ***REMOVED***">
					<p>Toutes les ***REMOVED***</p>
				</a>
			</li>
		{% elseif topCategoryTitlesAndSlugs|length > 0 %}
			
			{% for topCategoryTitlesAndSlug in topCategoryTitlesAndSlugs %}
			<li class="breadcrumb-item" {{ loop.last ? 'aria-current="page"' :'' }}>
				<a class="text-decoration-none text-muted" href="{{ path('home_category', {slug:topCategoryTitlesAndSlug["categorySlug"]}) }}" title="{{ topCategoryTitlesAndSlug["categoryTitle"] ?? '' }}">
					<p>{{ topCategoryTitlesAndSlug["categoryTitle"] ?? '' }}</p>
				</a>
			</li>
			{% endfor %}
		
		{% endif %}




	</ol>
	{# Fin Arborescence de filtrage par cétagories #}


	{# Section dédiée au produit #}
	<article>

		<h2 class="font-italic blue">{{ product.title ?? '' }}</h2>
		<div class="row">
			<div class="col-lg-5">

				{# Images d'illustration et carousel #}
				{% for image in product.images %}
					{% set id = loop.index0 %}
					<!-- Button trigger modal -->
					<a data-toggle="modal" data-target="#carouselModal{{ id }}">
						{% if id == 0 %}
							<div class="border rounded-lg p-2 mr-1 my-3">
								<img class="img-fluid" src="{{ asset('images/products/' ~ image.name )| imagine_filter('medium_size') }}" alt="Immage d'illustration {{ product.title ?? '' }}">
							</div>
						{% else %}
							<div class="d-inline-block border rounded-lg p-2 mr-1 my-3">
								<img class="img-fluid" src="{{ asset('images/products/' ~ image.name )| imagine_filter('mini') }}" alt="Immage d'illustration {{ product.title ?? '' }}">
							</div>
						{% endif %}
					</a>
					{{ include('home/_modalCarousel.html.twig') }}
				{% endfor %}
				{# Fin Images d'illustration et carousel #}

				<div class="my-3">
					<p>Référence sortie:
						{{ product.reference }}</p>
				</div>

			</div>

			{# Bloc decription, infos pratiques (attributs), Formulaire reservation, Formulaire commentaire #}
			<div class="col-lg-7">

				{# Onglets decription, infos pratiques (attributs), Formulaire reservation, Formulaire commentaire #}
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item" role="presentation">
						<a href="#description" id="description-tab" data-toggle="tab" class="nav-link active" role="tab" aria-controls="description" aria-selected="true" title="Description de cet évènement">Description</a>
					</li>
					<li class="nav-item">
						<a href="#specification" id="specification-tab" data-toggle="tab" class="nav-link" role="tab" aria-controls="specification" aria-selected="false" title="Informations pratiques de cet évènement">Informations pratiques</a>
					</li>
					<li class="nav-item">
						<a href="#reserver" id="reserver-tab" data-toggle="tab" class="nav-link" role="tab" aria-controls="reserver" aria-selected="false" title="Réserver cet évènement">Réserver</a>
					</li>
					<li class="nav-item">
						<a href="#review" id="review-tab" data-toggle="tab" class="nav-link" role="tab" aria-controls="review" aria-selected="false" title="Avis sur cet évènement">Avis ({{ moderatedComments|length }})</a>
					</li>
				</ul>
				{# Fin Onglets decription, infos pratiques (attributs), Formulaire reservation, Formulaire commentaire #}


				{# Contenus decription, infos pratiques (attributs), Formulaire reservation, Formulaire commentaire #}
				<div class="tab-content mt-3">

					{# Description #}
					<section class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
						<div class="text-secondary">{{ ( product.description ?? '')|raw }}</div>
						<p>
							{% for keyWords in product.keywords %}
							# <strong>{{ keyWords }}</strong>
							{% endfor %}						
						</p>
						<p>{{ product.taxIncludedPrice }}&euro;</p>
					</section>
					{# Fin description #}

					{# Infos pratiques (attributs) #}
					<section class="tab-pane" id="specification" role="tabpanel" aria-labelledby="specification-tab">
						<table class="table table-bordered">
							<tbody>
								{% set previousAttributeGroupName = null %}
								{% for attribute in attributes|sort((b, a) => a.attributeGroup.name <=> b.attributeGroup.name) %}
									{% if attribute.attributeGroup.name != previousAttributeGroupName %}
										<tr>
											<th colspan="2">{{ attribute.attributeGroup.name }}</th>
										</tr>							
									{% endif %}
								<tr>
									<td>{{ attribute.name }}</td>
									<td>{{ attribute.value }}</td>
								</tr>
								{% set previousAttributeGroupName = attribute.attributeGroup.name %}
								{% endfor %}
							</tbody>
						</table>
					</section>
					{# Fin Infos pratiques (attributs) #}

					{# Formulaire réservation/contact #}
					<section class="tab-pane" id="reserver" role="tabpanel" aria-labelledby="reserver-tab">
						{% if product.weezeevent is not empty %}
							<a class="btn p-3 m-5 text-white font-weight-bold" title="Réserver sur weezevent.com" href="{{ product.weezeevent }}" target="_blank" rel="noopener noreferrer">Réserver sur weezevent.com</a>
						{% else %}
                        	{{ include('home/_formMessages.html.twig') }}
						{% endif %}
					</section>
					{# Fin Formulaire réservation/contact #}

					{# Commentaire/Avis #}
					<section class="tab-pane" id="review" role="tabpanel" aria-labelledby="review-tab">

						{# Liste des commentaires modérés #}
						{% for comment in moderatedComments %}
						<div class="card card-primary card-outline mt-2">
							<div class="card-body">
								<p class="card-title font-italic m-0">
									<span class="font-weight-bold">{{ comment.pseudo }}</span>
									le
									{{ comment.createdAt|date('d-m-Y H:i:s') }}
								</p>
								<p class="card-text m-0">
									{{ comment.content }}
								</p>
								<p class="card-text m-2">

									{% for compt in 1..5 %}
										{{ (compt <= comment.mark) ? '&#9733;' : '&#9734;' }}
									{% endfor %}

								</p>
							</div>
							<!-- /.card -->
						</div>
						{% else %}
							<p>Il n'y a pas d'avis pour cet évènement.</p>
						{% endfor %}
						{# Fin Liste des commentaires modérés #}

						{# Formulaire commentaire #}
						<div class="my-3">
							<h4>Écrire un Avis</h4>
							{{ include('comments/_form.html.twig', {'button_label': 'Envoyer'}) }}
						</div>
						{# Fin Formulaire commentaire #}

					</section>
					{# Fin Commentaire/Avis #}

				</div>
				{# Fin Contenus decription, infos pratiques (attributs), Formulaire reservation, Formulaire commentaire #}

			</div>
			{# Fin Bloc decription, infos pratiques (attributs), Formulaire reservation, Formulaire commentaire #}

		</div>


	</article>
	{# Fin Section dédiée au produit #}

	{% if category != null  %}
		{# Sorties similaires (produits de même catégorie) #}
		{% if category.products|length > 1 %}
		<section class="mb-5">
			<h3 class="red">Sortie(s) similaire(s)</h3>
			<div class="row">
				{% for suggestedProduct in category.products %}
					{% if suggestedProduct != product %}
						<article class="item col-md-6 col-lg-3 my-3">
							<div class="thumbnail card w-100">
								<div class="img-event p-3">
									{# Illustration produit #}
									{% if suggestedProduct.images is not empty %}
										<a class="text-decoration-none" title="Aller à la page de {{ suggestedProduct.title }}" href="{{ path('home_product', { slugCategory:category.slug, slugProduct: suggestedProduct.slug}) }}">
											<img class="list-group-image img-fluid" src="{{ asset('images/products/' ~ suggestedProduct.images[0].name )| imagine_filter('miniatures') }}" alt="Immage d'illustration {{ suggestedProduct.title ?? '' }}"> 			
										</a>            
									{% endif %}   
									{# Fin Illustration produit #}
								</div>

								<div class="caption card-body pb-0">
									{# Description produit #}
									<a class="text-decoration-none" title="Aller à la page de {{ suggestedProduct.title }}" href="{{ path('home_product', { slugCategory:category.slug, slugProduct: suggestedProduct.slug}) }}">
										<h4 class="blue card-title list-group-item-heading">{{ suggestedProduct.title }}</h4>
									</a>
									<p class="list-group-item-text text-secondary">
										{{ suggestedProduct.description|striptags|slice(0, 400)|raw }}{{ (suggestedProduct.description|length > 200)?'...':'' }}
									</p>
									<p>
										{% for keyWords in suggestedProduct.keywords %}
										# <strong>{{ keyWords }}</strong>
										{% endfor %}						
									</p>
									{# Fin Description produit #}  
									<div class="row p-0">
										<div class="col-xs-12 col-md-6">
											<p class="text-secondary">
												{{ suggestedProduct.taxIncludedPrice }}&euro;
											</p>									
										</div>

										
										<div class="col-xs-12 col-md-6 p-0">
											{# Liens vers produit #}
												<a class="blue text-decoration-none border-left border-top p-3 font-weight-bold float-right wantToKnowMore" title="Aller à la page de {{ suggestedProduct.title }}" href="{{ path('home_product', { slugCategory: topCategoryTitlesAndSlugs|last.categorySlug, slugProduct: product.slug}) }}">En savoir plus...</a> 
											{# Fin Liens vers produit #}
										</div>
									</div>
								</div>
							</div>
						</article>
					{% endif %}
				{% endfor %}
			</div>	
		</section>
		{% endif %}
		{# Fin Sorties similaires (produits de même catégorie) #}



	{% endif %}


{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/disableInput.js') }}"></script>
{% endblock %}
