{% extends 'base.html.twig' %}

{% block title %}Ludo et Sophie -
	{{ product.title ?? '' }}
{% endblock %}

{% block body %}


	<ul>
		<li>
			<a href="{{ path('home') }}" title="Ludo et Sophie : Acceuil">
				<i class="fa fa-home"></i>
			</a>
		</li>
		{% for topCategoryTitlesAndSlug in topCategoryTitlesAndSlugs %}
		<li>
			<a href="{{ path('home_category', {slug:topCategoryTitlesAndSlug["categorySlug"]}) }}" title="{{ topCategoryTitlesAndSlug["categoryTitle"] ?? '' }}">
				<h2>{{ topCategoryTitlesAndSlug["categoryTitle"] ?? '' }}</h2>
			</a>
		</li>
		{% endfor %}
	</ul>

	<article>
		<h3>{{ product.title ?? '' }}</h3>
		<div class="d-flex">
			<div class="w-50">
				{% for image in product.images %}
					{% set id = loop.index - 1 %}
					<!-- Button trigger modal -->
					<a data-toggle="modal" data-target="#carouselModal{{ id }}">
						{% if id == 0 %}
							<div class="border rounded-lg p-2 mr-1 my-3">
								<img class="w-100" src="{{ asset('images/products/' ~ image.name ) }}" alt="Immage d'illustration {{ product.title ?? '' }}">
							</div>
						{% else %}
							<div class="d-inline-block border rounded-lg p-2 mr-1 my-3">
								<img src="{{ asset('images/products/' ~ image.name )| imagine_filter('miniatures') }}" alt="Immage d'illustration {{ product.title ?? '' }}">
							</div>
						{% endif %}
					</a>
					{{ include('home/_modalCarousel.html.twig') }}
				{% endfor %}
				<div class="my-3">
					<p>Référence sortie:
						{{ product.reference }}</p>
				</div>
			</div>

			<div class="w-50 p-3 m-3">

				<ul class="nav nav-tabs nav-colors">
					<li class="active p-3">
						<a href="#tab-description" data-toggle="tab" class="text-decoration-none">Description</a>
					</li>
					<li class="p-3">
						<a href="#tab-specification" data-toggle="tab" class="text-decoration-none">Informations pratiques</a>
					</li>
					<li class="p-3">
						<a href="#tab-reserver" data-toggle="tab" class="text-decoration-none">Réserver</a>
					</li>
					<li class="p-3">
						<a href="#tab-review" data-toggle="tab" class="text-decoration-none">Avis ({{ moderatedComments|length }})</a>
					</li>
				</ul>
				<div class="tab-content mt-3">
					<section class="tab-pane active" id="tab-description">
						<p>{{ ( product.description ?? '')|raw }}</p>
					</section>
					<section class="tab-pane" id="tab-specification">
						<table class="table table-bordered">
							<tbody>
								{% set previousAttributeGroupName = null %}
								{% for attribute in attributes|sort((b, a) => a.attributeGroup.name <=> b.attributeGroup.name) %}
									{% if attribute.attributeGroup.name != previousAttributeGroupName %}
										<tr>
											<th colspan="2">{{ attribute.attributeGroup.name }}</th>
										</tr>							
									{% endif %}
								<tr>
									<td>{{ attribute.name }}</td>
									<td>{{ attribute.value }}</td>
								</tr>
								{% set previousAttributeGroupName = attribute.attributeGroup.name %}
								{% endfor %}
							</tbody>
						</table>
						
					</section>
					<section class="tab-pane" id="tab-reserver">
						{% if product.weezeevent is not empty %}
							<a class="btn" title="Réserver sur weezevent.com" href="{{ product.weezeevent }}" target="_blank" rel="noopener noreferrer">Réserver</a>
						{% else %}
                        	{{ include('home/_formMessages.html.twig') }}							
						{% endif %}
					</section>
					<section class="tab-pane" id="tab-review">
                        {# {{ include('home/_formMessages.html.twig') }} #}

						{% for comment in moderatedComments %}
						<div class="card card-primary card-outline mt-2">
							<div class="card-body">
								<p class="card-title font-italic m-0">
									<span class="font-weight-bold">{{ comment.pseudo }}</span>
									le
									{{ comment.createdAt|date('d-m-Y H:i:s') }}
								</p>
								<p class="card-text m-0">
									{{ comment.content }}
								</p>
								<p class="card-text m-2">
									Note : <span class="font-italic">{{ (comment.mark != null)?(comment.mark ~'/5'):'Aucune note pour ce produit.' }}</span> 
								</p>
							</div>
							<!-- /.card -->
						</div>
						{% else %}
							<p>Il n'y a pas d'avis pour cet évènement.</p>
						{% endfor %}
						<div class="my-3">
							<h4>Écrire un Avis</h4>
							{{ include('comments/_form.html.twig') }}						
						</div>

					</section>
				</div>


			</div>

		</div>


	</article>

	{% if category.products|length > 1 %}
		<section class="row">
		{% for suggestedProduct in category.products %}
			{% if suggestedProduct != product %}
				<article class="border p-0 m-3 col-3">
					<div class="p-3">
					{% if suggestedProduct.images is not empty %}
						<img class="w-100" src="{{ asset('images/products/' ~ suggestedProduct.images[0].name )| imagine_filter('miniatures') }}" alt="Immage d'illustration {{ suggestedProduct.title ?? '' }}">      
					{% endif %}                 
					</div>
					<div class="p-3">
						<h3 class="font-italic">{{ suggestedProduct.title }}</h3>
						<p>{{ suggestedProduct.description[:200] }}{{ (suggestedProduct.description|length > 200)?'...':'' }}</p>
						<p>{{ suggestedProduct.taxIncludedPrice }}&euro;</p>
					</div>            
					<p class="border-top p-3 my-0 text-center">
						<a class="text-decoration-none" title="Aller à la page de {{ suggestedProduct.title }}" href="{{ path('home_product', { slugCategory:category.slug, slugProduct: suggestedProduct.slug}) }}">En savoir plus...</a>              
					</p>
				</article>
			{% endif %}
		{% endfor %}
		</section>
	{% endif %}

{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/disableInput.js') }}"></script>
{% endblock %}
