{% extends 'base.html.twig' %}

{% block title %}Ludo et Sophie -
	{{ product.title ?? '' }}
{% endblock %}

{% block body %}


	<ul>
		<li>
			<a href="{{ path('home') }}" title="Ludo et Sophie : Acceuil">
				<i class="fa fa-home"></i>
			</a>
		</li>
		<li>
			<a href="{{ path('home_category', {slug:category.slug}) }}" title="{ category.title ?? '' }}">
				<h2>{{ category.title ?? '' }}</h2>
			</a>
		</li>
	</ul>

	<article>
		<h2>{{ product.title ?? '' }}</h2>
		<div class="d-flex">
			<div class="w-50">
				{% for image in product.images %}
					{% set id = loop.index - 1 %}
					<!-- Button trigger modal -->
					<a data-toggle="modal" data-target="#carouselModal{{ id }}">
						{% if id == 0 %}
							<div class="border rounded-lg p-2 mr-1 my-3">
								<img class="w-100" src="{{ asset('images/products/' ~ image.name ) }}" alt="Immage d'illustration {{ product.title ?? '' }}">
							</div>
						{% else %}
							<div class="d-inline-block border rounded-lg p-2 mr-1 my-3">
								<img src="{{ asset('images/products/' ~ image.name )| imagine_filter('miniatures') }}" alt="Immage d'illustration {{ product.title ?? '' }}">
							</div>
						{% endif %}
					</a>
					{{ include('home/_modalCarousel.html.twig') }}
				{% endfor %}
				<div class="my-3">
					<p>Référence sortie:
						{{ product.reference }}</p>
				</div>
			</div>

			<div class="w-50 p-3 m-3">

				<ul class="nav nav-tabs nav-colors">
					<li class="active p-3">
						<a href="#tab-description" data-toggle="tab" class="text-decoration-none">Description</a>
					</li>
					<li class="p-3">
						<a href="#tab-specification" data-toggle="tab" class="text-decoration-none">Informations pratiques</a>
					</li>
					<li class="p-3">
						<a href="#tab-reserver" data-toggle="tab" class="text-decoration-none">Réserver</a>
					</li>
					<li class="p-3">
						<a href="#tab-review" data-toggle="tab" class="text-decoration-none">Avis (0)</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab-description">
						<p>{{ ( product.description ?? '') }}</p>
					</div>
					<div class="tab-pane" id="tab-specification">
						<table>
							{% for attribute in attributes|sort((b, a) => a.attributeGroup.name <=> b.attributeGroup.name) %}
							<tr>
								<td>{{ attribute.attributeGroup.name }}</td>
								<td>{{ attribute.name }}</td>
								<td>{{ attribute.value }}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
					<div class="tab-pane" id="tab-review">
						hello3
					</div>
					<div class="tab-pane" id="tab-reserver">
						hello4
					</div>
				</div>


			</div>

		</div>


	</article>


{% endblock %}
