{% extends 'base-admin.html.twig' %}

{% block title %}Ludo et Sophie - Index des publications
{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Ludo et Sophie - Index des publications</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('admin') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Publications</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">

			{% for message in app.flashes('success') %}
				<div class="alert alert-success" role="alert">{{ message }}</div>
			{% endfor %}

			{% for message in app.flashes('fail') %}
				<div class="alert alert-warning" role="alert">{{ message }}</div>
			{% endfor %}

			{# Barre de recherche #}
			<div class="search_filter"> 
				<form class="search_bar" action="{{ path('pages_index') }}" method="get">
					<div class="row">
						<input class="col-5 p-2" type="text" name="search" placeholder="Rechercher parmis les titres, les contenus et les mots-clés">
						<select class="col-3 p-2" name="usersFilter" id="usersFilter">
							<option value="">Rechercher par utilisateur</option>     
							{% for user in users|sort((a, b) => a.lastname <=> b.lastname) %} 
								<option value={{ user.id }}>{{ user.firstname }} {{ user.lastname }}</option>
							{% endfor %}                         
						</select>
						<button type="submit" class="btn btn-primary" class=" button violetBackground">OK</button>		
						<a class="btn btn-secondary mx-1" href="{{ path('pages_index') }}" title="Retour à la liste des pages">Reset</a>	
					</div>
				</form>
			</div>
			{# Fin barre de recherche #}


			<a href="{{ path('pages_new') }}" class="btn btn-success my-5" >Créer nouvelle publication</a>

			<table class="table">
				<thead>
					<tr>
						<th>
							{{ knp_pagination_sortable(pages, 'Titre', 'title') }}
						</th>
						<th>
							{{ knp_pagination_sortable(pages, 'Créée le', 'created_at') }}
						</th>
						<th>
							{{ knp_pagination_sortable(pages, 'Modifiée le', 'updated_at') }}

						</th>
						<th>
							{{ knp_pagination_sortable(pages, 'Auteur', 'user.lastname') }}
						</th>
						<th>
							{{ knp_pagination_sortable(pages, 'SEO URL', 'slug') }}
						</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for page in pages %}
						<tr>
							<td>{{ page.title }}</td>
							<td>{{ page.createdAt ? page.createdAt|date('d-m-Y H:i:s') : '' }}</td>
							<td>{{ page.updatedAt ? page.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
							<td>
								{% if page.user.email is defined %}
									<a href="{{ path('users_show', {'id': page.user.id}) }}" title="Voir l'auteur de la publication">{{ page.user.firstname }} {{ page.user.lastname }}</a>
								{% else %}
									Pas d'auteur enregistré pour cette publication
								{% endif %}
							</td>
							<td>{{ page.slug }}</td>
							<td>
								<a href="{{ path('pages_show', {'id': page.id}) }}" class="btn btn-primary" >Voir</a>
								<a href="{{ path('pages_edit', {'id': page.id}) }}" class="btn btn-warning" >Modifier</a>
								{{ include('pages/_delete_form.html.twig') }}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5">Aucune publication</td>
						</tr>
					{% endfor %}
				</tbody>
				<div>
					{{ knp_pagination_render(pages) }}
				</div>
			</table>
			<div>
				{{ knp_pagination_render(pages) }}
			</div>

			<a href="{{ path('pages_new') }}" class="btn btn-success my-5" >Créer nouvelle publication</a>
		</div>
	</div>
{% endblock %}
