{% extends 'base-admin.html.twig' %}

{% block title %}Ludo et Sophie - Publication <span class="font-italic">"{{ page.title }}"</span>
{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Ludo et Sophie - Publication <span class="font-italic">"{{ page.title }}"</span></h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('admin') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Publications</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">

			<table class="table">
				<tbody>
					<tr>
						<th>Titre</th>
						<td>{{ page.title }}</td>
					</tr>
					<tr>
						<th>Contenu</th>
						<td>{{ page.content|raw }}</td>
					</tr>
					<tr>
						<th>Mots-clés</th>
						<td>
							{% for keyWord in page.keywords %}
								#{{ keyWord }}
							{% else %}
								Pas de mot-clés pour cette publication
							{% endfor %}
						</td>
					</tr>
					<tr>
						<th>Titre en méta donnée</th>
						<td>{{ page.metaTagTitle }}</td>
					</tr>
					<tr>
						<th>Description en méta donnée</th>
						<td>{{ page.metaTagDescription }}</td>
					</tr>
					<tr>
						<th>Mots-clés en méta donnée</th>
						<td>
							{% for metaTagKeyword in page.metaTagKeywords %}
								#{{ metaTagKeyword }}
							{% else %}
								Pas de mot-clés pour cette publication
							{% endfor %}
						</td>
					</tr>
					<tr>
						<th>Créé le</th>
						<td>{{ page.createdAt ? page.createdAt|date('d-m-Y H:i:s') : '' }}</td>
					</tr>
					<tr>
						<th>Modifié le</th>
						<td>{{ page.updatedAt ? page.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
					</tr>
					<tr>
						<th>SEO URL</th>
						<td>{{ page.slug }}</td>
					</tr>
					<tr>
						<th>Auteur</th>
						<td>
							{% if page.user.email is defined %}
								<a href="{{ path('users_show', {'id': page.user.id}) }}" title="Voir l'auteur de la publication">{{ page.user.firstname }} {{ page.user.lastname }}</a>
							{% else %}
								Pas d'auteur enregistré pour cette publication
							{% endif %}
						</td>
					</tr>
				</tbody>
			</table>

			<a href="{{ path('pages_index') }}" class="btn btn-primary">Retour à la liste des publications</a>

			<a href="{{ path('pages_edit', {'id': page.id}) }}" class="btn btn-warning" ><i class="fas fa-edit"></i></a>

			{{ include('pages/_delete_form.html.twig') }}
		</div>
	</div>

{% endblock %}
