{{ form_start(form) }}

{{ form_row(form.title) }}
{{ form_row(form.meta_tag_title) }}
{{ form_row(form.description) }}
{{ form_row(form.meta_tag_description) }}
{{ form_row(form.keywords) }}
{{ form_row(form.meta_tag_keywords) }}
{{ form_row(form.weezeevent) }}
{{ form_row(form.pre_tax_price) }}
{{ form_row(form.TVA) }}
{{ form_row(form.tax_included_price) }}
{{ form_row(form.language) }}


<fieldset class="form-group">
	<legend class="col-form-label">{{ form.images.vars.label }}</legend>
	<div id="{{ form.images.vars.id }}">

		<ul id="images-fields-list" data-prototype="{{ form_widget(form.images.vars.prototype)|e }}" data-widget-tags="{{ '<li></li>'|e }}" data-widget-counter="{{ form.images|length }}">
			{% for imagesField in form.images %}
				<li>
					{{ form_errors(imagesField) }}
					{{ form_widget(imagesField) }}

				</li>
			{% endfor %}
		</ul>

	</div>

	<a href="#" class="add-another-image-collection-widget" data-list-selector="#images-fields-list">
		<i class="fas fa-plus"></i>
		Ajouter une image
	</a>

</fieldset>

<fieldset class="form-group">
	<legend class="col-form-label">{{ form.category.vars.label }}</legend>
	<div id="{{ form.category.vars.id }}">

		<ul id="categories-fields-list" data-prototype="{{ form_widget(form.category.vars.prototype)|e }}" data-widget-tags="{{ '<li></li>'|e }}" data-widget-counter="{{ form.category|length }}">
			{% for categoryField in form.category %}
				<li>
					<a href="#" class="float-right">Enlever la catégorie du produit ?</a>
					{{ form_errors(categoryField) }}
					{{ form_widget(categoryField) }}

				</li>
			{% endfor %}
		</ul>

	</div>

	<a href="#" class="add-another-category-collection-widget" data-list-selector="#categories-fields-list">
		<i class="fas fa-plus"></i>
		Ajouter une catégorie
	</a>

</fieldset>


<fieldset class="form-group">
	<legend class="col-form-label">{{ form.attribute.vars.label }}</legend>
	<div id="{{ form.attribute.vars.id }}">

		<ul id="attribute-fields-list" data-prototype="{{ form_widget(form.attribute.vars.prototype)|e }}" data-widget-tags="{{ '<li></li>'|e }}" data-widget-counter="{{ form.attribute|length }}" data-url-path="{{ absolute_url(path('give_attributes')) }}">
			{% set counter = 0 %}
			{% for attribute in form.attribute %}
				<li>
					<div id="{{ form.attribute.vars.id }}_{{ counter }}">
						<a href="#" class="float-right">Enlever l'attribut du produit ?</a>
						{{ form_row(attribute.attribute_group) }}
						{{ form_row(attribute.name) }}
						{{ form_row(attribute.value) }}
					</div>
				</li>
				{% set counter = counter + 1 %}
			{% endfor %}
		</ul>

	</div>

	<a href="#" class="add-another-attribute-collection-widget" data-list-selector="#attribute-fields-list">
		<i class="fas fa-plus"></i>
		Ajouter un attribut
	</a>

</fieldset>

<button class="btn btn-success my-5">{{ button_label|default('Valider') }}</button>

{{ form_row(form._token) }}

{{ form_end(form, {'render_rest': false}) }}
