{% extends 'base-admin.html.twig' %}

{% block title %}Ludo et Sophie - Index des ***REMOVED***
{% endblock %}

{% block body %}
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0 text-dark">Ludo et Sophie - Index des ***REMOVED***</h1>
			</div>
			<!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item">
						<a href="{{ path('admin') }}">Dashboard</a>
					</li>
					<li class="breadcrumb-item active">Sorties</li>
				</ol>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
	<div class="container-fluid">

		{% for message in app.flashes('success') %}
			<div class="alert alert-success" role="alert">{{ message }}</div>
		{% endfor %}

		{% for message in app.flashes('fail') %}
			<div class="alert alert-warning" role="alert">{{ message }}</div>
		{% endfor %}

		{# Barre de recherche #}
		<div class="search_filter"> 
			<form class="search_bar" action="{{ path('products_index') }}" method="get">
				<div class="row">
					<input class="col-5 p-2" type="text" name="search" placeholder="Rechercher parmis les titres, les contenus et les mots-clés">
					<select class="col-3 p-2" name="categoryFilter" id="categoryFilter">
						<option value="">Rechercher par catégorie</option>     
						{% for categorie in categories|sort((a, b) => a.title <=> b.title) %} 
							<option value={{ categorie.id }}>{{ categorie.title }}</option>
						{% endfor %}                         
					</select>
					{# <div>
						<select name="attributeFilter" id="attributeFilter">
							<option value="">Rechercher par Attribut</option> #}
							{# {% for category in categories %} 
								<option value={{ category.id }}>{{ category.name }}</option>
							{% endfor %}    #}
						{# </select>
					</div> #}
					<button type="submit" class="btn btn-primary" class=" button violetBackground">OK</button>		
					<a class="btn btn-secondary mx-1" href="{{ path('products_index') }}" title="Retour à la liste des produits">Reset</a>	
				</div>
			</form>
		</div>
		{# Fin barre de recherche #}

		<a href="{{ path('products_new') }}" class="btn btn-success my-5" >Créer nouvelle sortie</a>

		<a href="{{ path('metadata_edit', {slug: 'toutes-les-***REMOVED***'}) }}" class="btn btn-secondary m-5 float-right" >Méta données et contenus "toutes les ***REMOVED***"</a>

		<table class="table">
			<thead>
				<tr>
					<th>
						{{ knp_pagination_sortable(products, 'Titre', 'title') }}
					</th>
					<th class="d-none d-md-table-cell">
						{{ knp_pagination_sortable(products, 'Reference', 'reference') }}
					</th>
					<th class="d-none d-lg-table-cell">
						{{ knp_pagination_sortable(products, 'Créé le', 'createdAt') }}
					</th>
					<th class="d-none d-lg-table-cell">
						{{ knp_pagination_sortable(products, 'Modifié le', 'updatedAt') }}
					</th>
					<th class="d-none d-sm-table-cell">
						Catégories
					</th>
					<th>
						{{ knp_pagination_sortable(products, 'Nombre d\'avis clients', 'comments.count' ) }}
					</th>
					<th>
						{{ knp_pagination_sortable(products, 'Nombre de messages clients', 'messages.count' ) }}
					</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for product in products %}
					<tr>
						<td>{{ (product.title is defined)? product.title :'Pas de titre pour ce produit' }}</td>
						<td class="d-none d-md-table-cell">{{ (product.reference is defined)? product.reference :'Pas de référence pour ce produit' }}</td>
						<td class="d-none d-lg-table-cell">{{ product.createdAt ? product.createdAt|date('d-m-Y H:i:s') : '' }}</td>
						<td class="d-none d-lg-table-cell">{{ product.updatedAt ? product.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
						<td class="d-none d-sm-table-cell">
							<ul>
								{% for category in product.category %}
								<li>
									<a title="Voir la catégorie associée à ce produit" href="{{ path('categories_show', {id:category.id}) }}">{{ category.title }}</a>
								</li>
								{% else %}
									Pas de catégorie associée à ce produit
								{% endfor %}					
							</ul>	
						</td>
						<td>{{ product.comments | length }}
							{% if product.comments | length > 0 %}
								<a title="Voir les avis clients pour cette sortie" href="{{ path('comments_index', {productId:product.id}) }}" class="btn btn-primary" ><i class="fas fa-glasses"></i></a>
							{% endif %}
						</td>
						<td>{{ product.messages | length }}
							{% if product.messages | length > 0 %}
								<a title="Voir les messages clients pour cette sortie" href="{{ path('messages_index', {productId:product.id}) }}" class="btn btn-primary" ><i class="fas fa-glasses"></i></a>
							{% endif %}
						</td>
						<td>
							<a href="{{ path('products_show', {'id': product.id}) }}" class="btn btn-primary" ><i class="fas fa-glasses"></i></a>
							<a href="{{ path('products_edit', {'id': product.id}) }}" class="btn btn-warning" ><i class="fas fa-edit"></i></a>
							{{ include('products/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="10">Aucune sortie enregistrée</td>
					</tr>
				{% endfor %}
			</tbody>

			<div>
				{{ knp_pagination_render(products) }}
			</div>
		</table>
		<div>
			{{ knp_pagination_render(products) }}
		</div>

		<a href="{{ path('products_new') }}" class="btn btn-success my-5" >Créer nouvelle sortie</a>

	</div>
</div>

{% endblock %}
