{% extends 'base-admin.html.twig' %}

{% block title %}Timothy et Timothé - Ajouter une sortie
{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Timothy et Timothé - Ajouter une sortie</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('admin') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Sorties</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">

			{{ include('products/_form.html.twig') }}

			<a href="{{ path('products_index') }}" class="btn btn-primary">Retour à la liste des sorties</a>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/tax.js') }}"></script>
<script src="{{ asset('js/add-collection-widget.js') }}"></script>
{% endblock %}

