{% extends 'base-admin.html.twig' %}

{% block title %}Ludo et Sophie - Sortie : "{{ product.title }}"
{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Ludo et Sophie - Sortie : "{{ product.title }}"</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('admin') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Sorties</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">

			<table class="table">
				<tbody>
					<tr>
						<th>Titre</th>
						<td>
							{{ (product.title is defined)? product.title :'Pas de titre pour ce produit' }}
						</td>
					</tr>
					<tr>
						<th>Description</th>
						<td>
							{{ (product.description is defined)? product.description|raw :'Pas de description pour ce produit' }}
						</td>
					</tr>
					<tr>
						<th>Images d'illustration</th>
						<td>
						{% for image in product.images %}
						<img src="{{ asset('images/products/'~ image.name ) | imagine_filter('miniatures') }}" alt="Image d'illustration de la sortie : '{{ product.title }}'">
						{% else %}
						Aucune image d'illustration pour ce produit
						{% endfor %}
						</td>
					</tr>
					<tr>
						<th>Mots-clés</th>
						<td>
							{% for keyWords in product.keywords %}
								#{{ keyWords }}
							{% else %}
								Pas de mot-clés pour ce produit
							{% endfor %}
						</td>
					</tr>
					<tr>
						<th>Mots-clés en méta donnée</th>
						<td>
							{% for keyWords in product.metaTagKeywords %}
								#{{ keyWords }}
							{% else %}
								Pas de mot-clés pour ce produit
							{% endfor %}
						</td>
					</tr>
					<tr>
						<th>Titre en méta donnée</th>
						<td>
							{{ (product.metaTagTitle is defined)? product.metaTagTitle :'Pas de titre en méta donnée pour ce produit' }}
						</td>
					</tr>
					<tr>
						<th>Description en méta donnée</th>
						<td>
							{{ (product.metaTagDescription is defined)? product.metaTagDescription :'Pas de description en méta donnée pour ce produit' }}
						</td>
					</tr>
					<tr>
						<th>Référence</th>
						<td>
							{{ (product.reference is defined)? product.reference :'Pas de référence pour ce produit' }}
						</td>
					</tr>
					<tr>
						<th>Weezeevent</th>
						<td>
							{{ (product.weezeevent is defined)? product.weezeevent :'Pas de lien weezeevent pour ce produit' }}
						</td>
					</tr>
					<tr>
						<th>Créé le</th>
						<td>{{ product.createdAt ? product.createdAt|date('d-m-Y H:i:s') : '' }}</td>
					</tr>
					<tr>
						<th>Modifié le</th>
						<td>{{ product.updatedAt ? product.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
					</tr>
					<tr>
						<th>Prix HT</th>
						<td>
							{% if product.preTaxPrice is defined %}
								{{ product.preTaxPrice }} &euro;
							{% else %}
								Pas de prix HT pour ce produit
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>Prix TTC</th>
						<td>
							{% if product.taxIncludedPrice is defined %}
								{{ product.taxIncludedPrice }} &euro;
							{% else %}
								Pas de prix TTC pour ce produit
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>Catégorie</th>
						<td>
							<ul>
								{% for category in product.category %}
								<li>
									<a title="Voir la catégorie associée à ce produit" href="{{ path('categories_show', {id:category.id}) }}">{{ category.title }}</a>
								</li>
								{% else %}
									Pas de catégorie associée à ce produit
								{% endfor %}					
							</ul>	
						</td>
					</tr>
					<tr>
						<th>Langue</th>
						<td>
							{{ (product.language.name is defined)? product.language.name :'Pas de langue de publication associée à ce produit' }}
						</td>
					</tr>
					<tr>
						<th>Attributs</th>
						<td>		
							<ul>
								{% for attribute in product.attribute %}
								<li>
									{{ attribute.attributeGroup.name }} => {{ attribute.name }} : "{{ attribute.value }}"
								</li>
								{% else %}
									Pas d'attribut associé à ce produit
								{% endfor %}					
							</ul>					
						</td>
					</tr>
					<tr>
						<th>Nombre d'avis clients</th>
						<td>{{ product.comments | length }}
							{% if product.comments | length > 0 %}
								<a title="Voir les avis clients pour cette sortie" href="{{ path('comments_index', {productId:product.id}) }}" class="btn btn-primary" >Voir</a>
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>Nombre de messages clients</th>
						<td>{{ product.messages | length }}
							{% if product.messages | length > 0 %}
								<a title="Voir les messages clients pour cette sortie" href="{{ path('messages_index', {productId:product.id}) }}" class="btn btn-primary" >Voir</a>
							{% endif %}
						</td>
					</tr>
				</tbody>
			</table>

			<a href="{{ path('products_index') }}" class="btn btn-primary" >Retour à la liste</a>

			<a href="{{ path('products_edit', {'id': product.id}) }}" class="btn btn-warning" >Modifier</a>

			{{ include('products/_delete_form.html.twig') }}
		</div>

		<section>
			<h2>{{ product.comments | length }}
				avis clients pour cette sortie</h2>
			{% for comment in product.comments %}
				<article>
					<div class="card card-primary card-outline">
						<div class="card-body">
							<h3 class="card-title">Commentaire de
								<span class="font-weight-bold">{{ comment.pseudo }}</span>
								le
								{{ comment.createdAt|date('d-m-Y H:i:s') }}
							</h3>
							<p class="card-text">
								{{ comment.content }}
							</p>
							<a href="{{ path('comments_show', {id: comment.id}) }}" class="card-link" class="btn btn-primary" >Voir</a>
							<a href="{{ path('comments_edit', {id: comment.id}) }}" class="card-link">Modérer</a>
							{{ include('comments/_delete_form.html.twig') }}
						</div>
						<!-- /.card -->
					</div>
				</article>
			{% endfor %}
		</section>
	</div>

{% endblock %}
