{% extends 'base-admin.html.twig' %}

{% block title %}Ludo et Sophie - Index des catégories
{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Ludo et Sophie - Index des catégories</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('admin') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Catégories</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">

			<table class="table">
				<thead>
					<tr>
						<th>
							{{ knp_pagination_sortable(categories, 'Titre', 'title') }}
						</th>
						<th>
							{{ knp_pagination_sortable(categories, 'Créée le', 'created_at') }}
						</th>
						<th>
							{{ knp_pagination_sortable(categories, 'Modifiée le', 'updated_at') }}
						</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for category in categories %}
						<tr>
							<td>{{ category.title }}</td>
							<td>{{ category.createdAt|date('d-m-Y H:i:s') }}</td>
							<td>{{ category.updatedAt|date('d-m-Y H:i:s') }}</td>
							<td>
								<a href="{{ path('categories_show', {'id': category.id}) }}">Voir</a>
								<a href="{{ path('categories_edit', {'id': category.id}) }}">Modifier</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">Aucune catégorie</td>
						</tr>
					{% endfor %}
				</tbody>
				<div>
					{{ knp_pagination_render(categories) }}
				</div>
			</table>
			<div>
				{{ knp_pagination_render(categories) }}
			</div>

			<a href="{{ path('categories_new') }}">Créer nouvelle catégorie</a>

		</div>
	</div>
{% endblock %}
