{% extends 'base-admin.html.twig' %}

{% block title %}Ludo et Sophie - Voir catégorie
	{{ category.id }}
{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Ludo et Sophie - Voir catégorie "{{ category.title }}"</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('admin') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Catégorie</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">

			<table class="table">
				<tbody>
					<tr>
						<th>Titre</th>
						<td>{{ category.title }}</td>
					</tr>
					<tr>
						<th>Description</th>
						<td>{{ category.description }}</td>
					</tr>
					<tr>
						<th>Mots-clés</th>
						<td>
							{% for keyWords in category.keywords %}
								#{{ keyWords }}
							{% endfor %}
						</td>
					</tr>
					<tr>
						<th>Titre en méta donnée</th>
						<td>{{ category.metaTagTitle }}</td>
					</tr>
					<tr>
						<th>Description en méta donnée</th>
						<td>{{ category.metaTagDescription }}</td>
					</tr>
					<tr>
						<th>Mots-clés en méta donnée</th>
						<td>
							{% for keyWords in category.metaTagKeywords %}
								#{{ keyWords }}
							{% endfor %}
						</td>
					</tr>
					<tr>
						<th>Image</th>
						<td>
						{% for image in category.images %}
						<img src="{{ asset('images/products/'~ image.name ) | imagine_filter('miniatures') }}" alt="Image d'illustration de la catégorie : '{{ category.title }}'">
						{% else %}
						Aucune image d'illustration pour cette catégorie
						{% endfor %}
						
						</td>
					</tr>
					<tr>
						<th>Créée le</th>
						<td>{{ category.createdAt|date('d-m-Y H:i:s') }}</td>
					</tr>
					<tr>
						<th>Modifiée le</th>
						<td>{{ category.updatedAt|date('d-m-Y H:i:s') }}</td>
					</tr>
				</tbody>
			</table>

			<a href="{{ path('categories_index') }}">Retour à la liste</a>

			<a href="{{ path('categories_edit', {'id': category.id}) }}">Modifier</a>

			{{ include('categories/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
