{% extends 'base-admin.html.twig' %}

{% block title %}Ludo et Sophie - Index des collaborateurs
{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Ludo et Sophie - Index des collaborateurs</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('admin') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">collaborateurs</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">

			{% for message in app.flashes('success') %}
				<div class="alert alert-success" role="alert">{{ message }}</div>
			{% endfor %}

			{% for message in app.flashes('fail') %}
				<div class="alert alert-warning" role="alert">{{ message }}</div>
			{% endfor %}


			<a href="{{ path('people_new') }}" class="btn btn-success my-5" >Créer nouveau collaborateur</a>

            <table class="table">
                <thead>
                    <tr>
                        <th>
							{{ knp_pagination_sortable(people, 'Nom', 'name') }}
						</th>
                        <th>Photo</th>
                        <th>
							{{ knp_pagination_sortable(people, 'Fonction', 'function') }}
						</th>
                        <th>
							{{ knp_pagination_sortable(people, 'Fait parti de la direction ?', 'isHead') }}						
						</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for person in people %}
                    <tr>
                        <td>{{ person.name }}</td>
                        <td>
                            {% if person.picture is not empty %}
                            <img src="{{ asset('images/people/'~ person.picture ) | imagine_filter('miniatures') }}" alt="Photo de : '{{ person.name }}'">
                            {% else %}
                            <img src="{{ asset('images/people/noone.jpg' ) | imagine_filter('miniatures') }}" alt="Photo de : '{{ person.name }}'">
                            {% endif %}
                        </td>
                        <td>{{ person.function }}</td>
                        <td>{{ person.isHead ? 'Oui' : 'Non' }}</td>
                        <td>
                            <a href="{{ path('people_show', {'id': person.id}) }}" class="btn btn-primary" >Voir</a>
                            <a href="{{ path('people_edit', {'id': person.id}) }}" class="btn btn-warning" >Modifier</a>
                            {{ include('people/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun collaborateur</td>
                    </tr>
                {% endfor %}
                </tbody>
				<div>
					{{ knp_pagination_render(people) }}
				</div>
			</table>
			<div>
				{{ knp_pagination_render(people) }}
			</div>

	        <a href="{{ path('people_new') }}" class="btn btn-success my-5" >Créer nouveau collaborateur</a>
        </div>
    </div>
{% endblock %}
