{% extends 'base-admin.html.twig' %}

{% block title %}Ludo et Sophie - {{ person.name }}
{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Ludo et Sophie - {{ person.name }}</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('admin') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Collaborateurs</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">

        <table class="table">
            <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ person.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ person.description }}</td>
                </tr>
                <tr>
                    <th>Citation</th>
                    <td>{{ person.quote }}</td>
                </tr>
                <tr>
                    <th>Auteur citation</th>
                    <td>{{ person.cite }}</td>
                </tr>
                <tr>
                    <th>Photo</th>
                    <td>
                    	{% if person.picture is defined %}
						    <img src="{{ asset('images/people/'~ person.picture ) | imagine_filter('miniatures') }}" alt="Photo de : '{{ person.name }}'">
						{% else %}
                            <img src="{{ asset('images/people/noone.jpg') }}" alt="Photo de : '{{ person.name }}'">
						{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Fonction</th>
                    <td>{{ person.function }}</td>
                </tr>
                <tr>
                    <th>Fait parti de la direction</th>
                    <td>{{ person.isHead ? 'Oui' : 'Non' }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('people_index') }}" class="btn btn-primary" >Retour à la liste</a>

        <a href="{{ path('people_edit', {'id': person.id}) }}" class="btn btn-warning">Editer</a>

        {{ include('people/_delete_form.html.twig') }}


        </div>
    </div>
{% endblock %}
