<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ asset('images/icones/logo_footer.jpg') }}" type="image/x-icon">
        <title>{% block title %}Ludo et Sophie Accueil{% endblock %}</title>

        {# Chargement CDNs #}
        {# <link rel="stylesheet" href="{{ asset('css/normalize.css') }}"> #}
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <header>
            {# Bouton menu mobile à retravailler #}
            <div class="container hidden-lg">
                <div id="button_responsive_menu">

                    <button type="button" class="btn btn-navbar navbar-toggle offcanvas-toggle js-offcanvas-has-events" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas"><i class="fa fa-bars"></i></button>

                    <img id="logo_mobile" src="{{ asset('images/icones/logo_mobile.png') }}" title="Ludo et Sophie" alt="Ludo et Sophie" class="img-responsive">
                
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        {% for link in links()|sort((a, b) => a.positionOrder <=> b.positionOrder) %}
                            {% if link.position == 'header' %}
                                <a href="{{ link.url }}" title="{{ link.title }}">
                                    {% if link.image is not null %}
					                    <img src="{{ asset('images/icones/'~ link.image ) | imagine_filter('miniatures') }}" alt="Icone du lien {{ link.title }}">
						            {% endif %}
                                    <p class="m-0 p-0">{{ link.content }}</p>
                                </a>
                            {% endif %}
                        {% endfor %}

                    </div>
                    <div class="col-8">
                        <a href="{{ path('home') }}" title="Ludo et Sophie : Acceuil" ><img src="{{ asset('images/icones/logo_neutrenew.jpg') }}" alt="Image d'acceuil du site Ludo et Sophie"></a>
                        <h1 class="font-italic"><span class="red">et la culture devient</span> <span class="blue">un jeu d'***REMOVED***</span><span class="orange">(s)</span><span class="blue">!</span></h1>
                    </div>
                    <div class="col-2">
                        {% for foreignLanguage in foreignLanguages() %} 
                            <a href="{{ path('foreign', { slug: foreignLanguage.slug}) }}"><img src="{{ asset('images/languages/' ~ foreignLanguage.flag ) | imagine_filter('miniatures') }}" alt="Icone de la langue {{ foreignLanguage.name }}"></a>

                        {% endfor %}
                        <p>English and Spanish family tours</p>
                    </div>
                </div>
            </div>
            <div class="container">
                {# Menu mobile à retravailler #}
                <nav class="navbar navbar-offcanvas offcanvas-transform js-offcanvas-done" id="js-bootstrap-offcanvas">
                    <div class="navbar-header"></div>
                    <div class="">
                        <ul class="nav navbar-nav">

                            {% for link in links()|sort((a, b) => a.positionOrder <=> b.positionOrder) %}
                                {% if link.position == 'nav' %}
                                    {% if link.type == "external" %}
                                        <a href="{{ link.url }}" title="{{ link.title }}" target="_blank" rel="noopener noreferrer">{{ link.content }} </a> 
                                    {% else %}
                                        <a href="{{ link.url }}" title="{{ link.title }}">{{ link.content }}</a>                               
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            <li>
                                <a class="mobile_fix hidden-xs">Mais encore...</a>
                            </li>
                            <li id="***REMOVED***" class="dropdown hidden-lg">
                                <a id="***REMOVED***_link" href="#" title="Programmation" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="first_lvl">Mais encore...</span> <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">

                                    {% for link in links()|sort((a, b) => a.positionOrder <=> b.positionOrder) %}
                                        {% if link.position == 'dropdown' %}
                                        <li>
                                            {% if link.type == "external" %}
                                                <a href="{{ link.url }}" title="{{ link.title }}" target="_blank" rel="noopener noreferrer">{{ link.content }} </a> 
                                            {% else %}
                                                <a href="{{ link.url }}" title="{{ link.title }}">{{ link.content }}</a>                               
                                            {% endif %}
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="hidden-lg">
                                {% for link in links()|sort((a, b) => a.positionOrder <=> b.positionOrder) %}
                                    {% if link.position == 'header' %}
                                        {% if link.type == "external" %}
                                            <a href="{{ link.url }}" title="{{ link.title }}" target="_blank" rel="noopener noreferrer">{{ link.content }} </a> 
                                        {% else %}
                                            <a href="{{ link.url }}" title="{{ link.title }}">{{ link.content }}</a>                               
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <main class="container">

            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}

            {% for message in app.flashes('fail') %}
                <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% endfor %}

            {% block body %}{% endblock %}        
        </main>

        <footer class="border-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="contact_us">Une question ? Une idée ?</h4>
                        <div class="row">
                            <div class="col-4 m-0">
                                <img class="w-100 m-0" src="{{ asset('images/icones/logo_footer.jpg') }}" alt="Logo footer Ludo et Sophie">                            
                            </div>
                            <address class="col-8 text-left m-0">
                                Ludo &amp; Sophie SAS
                                49 rue de Ponthieu
                                75008 Paris               
                            </address>             
                        </div>
                    </div>
                    <div class="col-md-9">
                        {{ include('_formMessages.html.twig') }}
                    </div>
                </div>

                <ul>
                    {% for link in links()|sort((a, b) => a.positionOrder <=> b.positionOrder) %}
                        {% if link.position == 'footer' %}
                            <li>
                                {% if link.type == "external" %}
                                    <a href="{{ link.url }}" title="{{ link.title }}" target="_blank" rel="noopener noreferrer">{{ link.content }} </a> 
                                {% else %}
                                    <a href="{{ link.url }}" title="{{ link.title }}">{{ link.content }}</a>                               
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}

                </ul>

            
                <p>Copyright &copy; 2016-2020 Ludo&amp;Sophie. Tous droits réservés.</p>
            </div>
        
        </footer>


        <!-- JS, Popper.js-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>



