{% extends 'base-admin.html.twig' %}

{% block title %}Ludo et Sophie - Message de
	{{ message.name }}
	le
	{{ message.sentAt|date('d-m-Y H:i:s') }}
{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Ludo et Sophie - Message de
						{{ message.name }}
						le
						{{ message.sentAt|date('d-m-Y H:i:s') }}</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('admin') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Messages</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">

			<table class="table">
				<tbody>
					<tr>
						<th>Nom</th>
						<td>{{ message.name }}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>{{ message.email }}</td>
					</tr>
					<tr>
						<th>Téléphone</th>
						<td>{{ message.phone }}</td>
					</tr>
					<tr>
						<th>Objet</th>
						<td>{{ message.subject }}</td>
					</tr>
					<tr>
						<th>Concernant la sortie</th>
						<td>
							{% if message.product != null %}
								<a title="Voir la sortie associée" href="{{ path('products_show', {id:message.product.id}) }}">{{ message.product.title }}</a>
							{% else %}
								Message associé à aucune sortie
							{% endif %}
						
						</td>
					</tr>
					<tr>
						<th>Message</th>
						<td>{{ message.message }}</td>
					</tr>
					<tr>
						<th>Envoyé le</th>
						<td>{{ message.sentAt | date('d.m.Y H:i:s') }}</td>
					</tr>
				</tbody>
			</table>

			<a href="{{ path('messages_index') }}">Retour à la liste</a>

			{{ include('messages/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
