{{ form_start(form) }}
    {% if form.pseudo is defined %}
        {{ form_row(form.pseudo) }}
    {% endif %}
    {{ form_row(form.content) }}
    {{ form_label(form.mark) }}
    <p class="d-inline">Mauvais</p>
    {{ form_widget(form.mark) }}
    <p class="d-inline">Bon</p>
    <button class="btn my-5 float-right">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
