{% extends 'base-admin.html.twig' %}

{% block title %}Ludo et Sophie - Index des avis clients
{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Ludo et Sophie - Index des avis clients</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('admin') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Avis clients</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">

			{% for message in app.flashes('success') %}
				<div class="alert alert-success" role="alert">{{ message }}</div>
			{% endfor %}

			{% for message in app.flashes('fail') %}
				<div class="alert alert-warning" role="alert">{{ message }}</div>
			{% endfor %}

			{# Barre de recherche #}
			<div class="search_filter mb-5"> 
				<form class="search_bar" action="{{ path('comments_index') }}" method="get">
					<div class="row">
						<input class="col-5 p-2" type="text" name="search" placeholder="Rechercher parmis les pseudos des auteurs et leurs contenus">
						
						<select name="isModaratedFilter" id="isModaratedFilter">
							<option value="">Commentaires modérés</option>
							<option value="true">Oui</option> 
							<option value="false">Non</option> 
						</select>
						
						<button type="submit" class="btn btn-primary" class=" button violetBackground">OK</button>		
						<a class="btn btn-secondary mx-1" href="{{ path('comments_index') }}" title="Retour à la liste des produits">Reset</a>	
					</div>
				</form>
			</div>
			{# Fin barre de recherche #}

			<table class="table">
				<thead>
					<tr>
						<th>
							{{ knp_pagination_sortable(comments, 'Ecrit par', 'pseudo') }}
						</th>
						<th>
							{{ knp_pagination_sortable(comments, 'Contenu', 'content') }}
						</th>
						<th>
							{{ knp_pagination_sortable(comments, 'Concernant la sortie', 'product.title') }}
						</th>
						<th>
							{{ knp_pagination_sortable(comments, 'Note', 'mark') }}
						</th>
						<th>
							{{ knp_pagination_sortable(comments, 'Date', 'created_at') }}
						</th>
						<th>
							{{ knp_pagination_sortable(comments, 'Commentaire modéré', 'isModerated') }}
						</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for comment in comments %}
						<tr>
							<td>{{ comment.pseudo }}</td>
							<td>{{ comment.content }}</td>
							<td>
								{% if comment.product != null %}
									<a title="Voir la sortie associée" href="{{ path('products_show', {id:comment.product.id}) }}">{{ comment.product.title }}</a>
								{% else %}
									Commentaire associé à aucune sortie
								{% endif %}
							</td>
							<td>
								{{ (comment.mark != null)?(comment.mark ~'/5'):'Pas de note donnée pour ce produit.' }}
							</td>
							<td>{{ comment.createdAt|date('d-m-Y H:i:s') }}</td>
							<td>
								{{ (comment.isModerated)?'Oui':'Non' }}
							</td>
							<td>
								<a href="{{ path('comments_show', {'id': comment.id}) }}" class="btn btn-primary" ><i class="fas fa-glasses"></i></a>
								<a href="{{ path('comments_edit', {'id': comment.id}) }}" class="btn btn-warning">Modérer</a>
								{{ include('comments/_delete_form.html.twig') }}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">Aucun avis client</td>
						</tr>
					{% endfor %}
				</tbody>
				<div>
					{{ knp_pagination_render(comments) }}
				</div>
			</table>
			<div>
				{{ knp_pagination_render(comments) }}
			</div>
		</div>
	</div>
{% endblock %}
