{% extends 'base-admin.html.twig' %}

{% block title %}Ludo et Sophie - Modifier utilisateur{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Ludo et Sophie - Modifier utilisateur</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('admin') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Utilisateurs</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">

			{{ include('users/_form.html.twig', {'button_label': 'Modifier'}) }}
			<a class="d-block" href="{{ path('users_change_password', {id: user.id}) }}">Changer de mot de passe ?</a>
			<a class="d-block" href="{{ path('users_index') }}">Retour à la liste</a>

			{{ include('users/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
