{% extends 'base-admin.html.twig' %}

{% block title %}Timothy et Timothé - Utilisateur
	{{ user.id }}
{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Timothy et Timothé - Utilisateur
						{{ user.firstname }}
						{{ user.lastname }}</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('admin') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Utilisateurs</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">

			<table class="table">
				<tbody>
					<tr>
						<th>Email</th>
						<td>{{ user.email }}</td>
					</tr>
					<tr>
						<th>Prénom</th>
						<td>{{ user.firstname }}</td>
					</tr>
					<tr>
						<th>Nom</th>
						<td>{{ user.lastname }}</td>
					</tr>
					<tr>
						<th>Roles</th>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					</tr>

					<tr>
						<th>Publications</th>
						<td>
							{{ user.pages|length }}
							<a title="Voir les {{ user.pages|length }} publications de {{ user.firstname }}" href="{{ path('pages_index', {userId: user.id }) }}" class="btn btn-primary" ><i class="fas fa-glasses"></i></a>
						</td>
					</tr>
				</tbody>
			</table>

			<a href="{{ path('users_index') }}" class="btn btn-primary" >Retour à la liste</a>

			<a href="{{ path('users_edit', {'id': user.id}) }}" class="btn btn-warning"><i class="fas fa-edit"></i></a>

			{{ include('users/_delete_form.html.twig') }}

			<section>
				<h2>Publications de
					{{ user.firstname }}</h2>
				{% for page in user.pages %}
					<article>
						<div class="card card-primary card-outline">
							<div class="card-body">
								<h3 class="card-title">
									<span class="font-weight-bold">Titre :</span>
									{{ page.title }}</h3>
								<p class="card-text">
									<span class="font-weight-bold">Titre en méta donnée :</span>
									{{ page.metaTagTitle }}
								</p>

								<p class="card-text">
									<span class="font-weight-bold">Description en méta donnée :</span>
									{{ page.metaTagDescription }}
								</p>

								<p>
									<span class="font-weight-bold">Mots clés :</span>
									{% for keyword in page.keywords %}
										#{{ keyword }}
									{% else %}
										Pas de mot clés
									{% endfor %}
									<span class="font-weight-bold">Méta tags :</span>
									{% for keyword in page.metaTagKeywords %}
										#{{ keyword }}
									{% else %}
										Pas de mot clés
									{% endfor %}
								</p>
								<p>
									<span class="font-weight-bold">Date de création :</span>
									{{ page.createdAt | date('d-m-Y H:i:s') }}
									<span class="font-weight-bold">Date de modification :</span>
									{{ page.updatedAt | date('d-m-Y H:i:s') }}
								</p>
								<a href="{{ path('pages_show', {id: page.id}) }}" class="card-link" class="btn btn-primary" ><i class="fas fa-glasses"></i></a>
								<a href="{{ path('pages_edit', {id: page.id}) }}" class="card-link" class="btn btn-warning" ><i class="fas fa-edit"></i></a>
								{{ include('pages/_delete_form.html.twig') }}
							</div>
							<!-- /.card -->
						</article>
					{% endfor %}
				</section>

			</div>
		</div>
	{% endblock %}
